@model SuaChuaBaoDuongSearchModel

<nop-antiforgery-token />
<div class="ui-bordered px-4 pt-4 mb-4" >
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearchCongCu" placeholder="Tên hoặc mã..." />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearchCongCu">Tìm kiếm</button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Đơn vị bộ phận:</label>
        <div class="col-sm-8">
            <nop-select asp-for="BoPhanId" asp-items="Model.DDLDonViBoPhan" asp-filter="true" />
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="list-congcu-grid"></div>
                    <script>
                        var record_chonTS = 0;
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearchCongCu: $('#@Html.IdFor(model => model.KeySearchCongCu)').val(),
                                    BoPhanId: $('#BoPhanId').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearchCongCu").click(function () {
                                var grid = $('#list-congcu-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearchCongCu").click();
                                    return false;
                                }
                            });
                            $("#list-congcu-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("_ChonTaiSan", "SuaChuaBaoDuong"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
								dataBinding: function () {
									record_chonTS = (this.dataSource.page() - 1) * this.dataSource.pageSize();
								},
                                scrollable: false,
                                columns: [
									{
										title: "STT",
										template: "#= ++record_chonTS #",
										width: 50,
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:center" },
									},
                                    { field: 'MaLoCongCuText', title: 'Mã lô CCDC' },
                                    { field: 'MaCongCuText', title: 'Mã CCDC' },
                                    { field: 'TenCongCuText', title: 'Tên CCDC' },
                                    { field: 'NhomCongCuText', title: 'Nhóm CCDC' },
                                    //{ field: '',attributes: { style: "text-align:center" }, title: 'Ngày sử dụng' },
                                    { field: 'SoLuongText',attributes: { style: "text-align:right" }, title: 'Số lượng' },
                                    { field: 'DonGiaText',attributes: { style: "text-align:right" }, title: 'Đơn giá' },
                                    { field: 'BoPhanSuDungText', title: 'Bộ phận sử dụng' },
                                    {
                                        field: "MapId",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-sm btn-outline-secondary" href="Create?MapId=#=MapId#"><i class="fas fa-pencil-alt d-block"></i>Chọn</a>'
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
