@model MuaSamChiTietModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">MUA_SAM_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="MUA_SAM_ID" />
<span asp-validation-for="MUA_SAM_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_TAI_SAN_ID" />
<span asp-validation-for="LOAI_TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TEN_TAI_SAN:</label>
<div class="col-sm-10">
<nop-editor asp-for="TEN_TAI_SAN" />
<span asp-validation-for="TEN_TAI_SAN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">HINH_THUC_MUA_SAM_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="HINH_THUC_MUA_SAM_ID" />
<span asp-validation-for="HINH_THUC_MUA_SAM_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DAC_DIEM:</label>
<div class="col-sm-10">
<nop-editor asp-for="DAC_DIEM" />
<span asp-validation-for="DAC_DIEM"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">SO_LUONG:</label>
<div class="col-sm-10">
<nop-editor asp-for="SO_LUONG" />
<span asp-validation-for="SO_LUONG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_GIA:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_GIA" />
<span asp-validation-for="DON_GIA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">THOI_GIAN_DU_KIEN:</label>
<div class="col-sm-10">
<nop-editor asp-for="THOI_GIAN_DU_KIEN" />
<span asp-validation-for="THOI_GIAN_DU_KIEN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DU_TOAN_DUOC_DUYET:</label>
<div class="col-sm-10">
<nop-editor asp-for="DU_TOAN_DUOC_DUYET" />
<span asp-validation-for="DU_TOAN_DUOC_DUYET"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">IS_TAI_SAN_NGUON_VIEN_TRO:</label>
<div class="col-sm-10">
<nop-editor asp-for="IS_TAI_SAN_NGUON_VIEN_TRO" />
<span asp-validation-for="IS_TAI_SAN_NGUON_VIEN_TRO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DE_XUAT:</label>
<div class="col-sm-10">
<nop-editor asp-for="DE_XUAT" />
<span asp-validation-for="DE_XUAT"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GHI_CHU:</label>
<div class="col-sm-10">
<nop-editor asp-for="GHI_CHU" />
<span asp-validation-for="GHI_CHU"></span>
</div>
</div>

