/BackEnd/Presentation/GS.Web/bin
/BackEnd/Presentation/GS.Web/logs
/BackEnd/Presentation/GS.Web/obj
/BackEnd/Presentation/GS.Web/App_Data/WorkFiles
/BackEnd/Presentation/GS.Web.Framework/bin
/BackEnd/Presentation/GS.Web.Framework/obj
/BackEnd/Presentation/GS.WebApi/bin
/BackEnd/Presentation/GS.WebApi/obj
/BackEnd/Presentation/GS.WebApi/App_Data/WorkFiles
/BackEnd/Presentation/GS.WebTool/bin
/BackEnd/Presentation/GS.WebTool/obj
/BackEnd/Presentation/GS.WebTool/App_Data/WorkFiles
/BackEnd/Libraries/GS.Core/bin
/BackEnd/Libraries/GS.Core/obj
/BackEnd/Libraries/GS.Data/bin
/BackEnd/Libraries/GS.Data/obj
/BackEnd/Libraries/GS.Services/bin
/BackEnd/Libraries/GS.Services/obj
/BackEnd/Presentation/GS.Web/App_Data/DataProtectionKeys
/BackEnd/GS.NewAPI/bin
/BackEnd/GS.NewAPI/obj
/BackEnd/.vs
/.vs
/BackEnd/Presentation/GS.Web/GS.Web.csproj.user
/BackEnd/.vs/QLDKTS2025/v17/.suo
/BackEnd/.vs/QLDKTS2025/v17/DocumentLayout.json
