################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/GS.NewAPI/bin
/BackEnd/GS.NewAPI/obj
/BackEnd/GS.NewAPI/Properties/PublishProfiles
