################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/.vs/QLDKTS2020/FileContentIndex
/BackEnd/.vs/QLDKTS2020/v17
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Data.dll
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Data.pdb
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.NewAPI.dll
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.NewAPI.pdb
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Services.dll
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Services.pdb
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Web.Framework.dll
/BackEnd/GS.NewAPI/bin/Debug/netcoreapp2.2/GS.Web.Framework.pdb
/BackEnd/GS.NewAPI/GS.NewAPI.csproj.user
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.AssemblyInfo.cs
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.AssemblyInfoInputs.cache
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.csproj.AssemblyReference.cache
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.csproj.BuildWithSkipAnalyzers
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.csproj.CoreCompileInputs.cache
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.dll
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.pdb
/BackEnd/GS.NewAPI/obj/Debug/netcoreapp2.2/GS.NewAPI.RazorTargetAssemblyInfo.cache
/BackEnd/Libraries/GS.Core/bin/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/Libraries/GS.Core/bin/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.AssemblyInfo.cs
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.AssemblyInfoInputs.cache
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.csproj.BuildWithSkipAnalyzers
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.csproj.CoreCompileInputs.cache
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/Libraries/GS.Core/obj/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/Libraries/GS.Data/bin/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/Libraries/GS.Data/bin/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/Libraries/GS.Data/bin/Debug/netcoreapp2.2/GS.Data.dll
/BackEnd/Libraries/GS.Data/bin/Debug/netcoreapp2.2/GS.Data.pdb
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.AssemblyInfo.cs
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.AssemblyInfoInputs.cache
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.csproj.AssemblyReference.cache
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.csproj.BuildWithSkipAnalyzers
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.csproj.CoreCompileInputs.cache
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.dll
/BackEnd/Libraries/GS.Data/obj/Debug/netcoreapp2.2/GS.Data.pdb
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Data.dll
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Data.pdb
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Services.dll
/BackEnd/Libraries/GS.Services/bin/Debug/netcoreapp2.2/GS.Services.pdb
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.AssemblyInfo.cs
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.AssemblyInfoInputs.cache
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.csproj.AssemblyReference.cache
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.csproj.BuildWithSkipAnalyzers
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.dll
/BackEnd/Libraries/GS.Services/obj/Debug/netcoreapp2.2/GS.Services.pdb
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Core.dll
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Core.pdb
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Data.dll
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Data.pdb
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Services.dll
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Services.pdb
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Web.Framework.dll
/BackEnd/Presentation/GS.Web.Framework/bin/Debug/netcoreapp2.2/GS.Web.Framework.pdb
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.AssemblyInfo.cs
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.AssemblyInfoInputs.cache
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.csproj.AssemblyReference.cache
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.csproj.BuildWithSkipAnalyzers
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.dll
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.pdb
/BackEnd/Presentation/GS.Web.Framework/obj/Debug/netcoreapp2.2/GS.Web.Framework.pdb
