@model KiemKeCongCuModel

<input asp-for="ID" type="hidden" />
<input asp-for="IS_PHAT_HIEN_THUA" type="hidden" />
<input asp-for="KiemKeCongCuId" type="hidden" />
<input asp-for="KIEM_KE_ID" type="hidden" />
@if (Model.IS_PHAT_HIEN_THUA)
{
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left text-required">Tên CCDC</label>
        <div class="col-sm-10">
            <nop-editor asp-for="TEN_CONG_CU_THUA" />
            <span asp-validation-for="TEN_CONG_CU_THUA" id="err_TEN_CONG_CU_THUA" ></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left text-required">Nhóm CCDC</label>
        <div class="col-sm-10">
            <nop-select asp-for="NHOM_CONG_CU_ID" asp-items="Model.DDLNhomCongCu" asp-filter="true" />
            <span asp-validation-for="NHOM_CONG_CU_ID" id="err_NHOM_CONG_CU_ID" ></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left ">Đơn giá</label>
        <div class="col-sm-10">
            <nop-editor asp-for="DON_GIA_THUA" asp-amount="true"/>
            <span asp-validation-for="DON_GIA_THUA"  id="err_DON_GIA_THUA" ></span>
        </div>
    </div>
}
else
{
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Mã CCDC</label>
        <div class="col-sm-10">
            <nop-editor asp-for="MaCongCu" asp-disabled="true" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Tên CCDC</label>
        <div class="col-sm-10">
            <nop-editor asp-for="TenCongCu" asp-disabled="true" />
        </div>
    </div>
}
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left text-required">Số lượng</label>
    <div class="col-sm-10">
        <nop-editor asp-for="SO_LUONG_KIEM_KE" asp-amount="true" asp-max-number="Model.SO_LUONG_KIEM_KE"/>
        <span asp-validation-for="SO_LUONG_KIEM_KE" id="err_SO_LUONG_KIEM_KE"  ></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Tình trạng</label>
    <div class="col-sm-10">
        <nop-select asp-for="TINH_TRANG_ID" asp-items="Model.DDLTinhTrangEnum" />
    </div>
</div>
@*<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Đề nghị xử lý</label>
    <div class="col-sm-10">
        <nop-select asp-for="DE_NGHI_XU_LY" asp-items="Model.DDLDeNghiXuLyEnum" />
    </div>
</div>*@
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Ghi chú</label>
    <div class="col-sm-10">
        <app-textarea asp-for="GHI_CHU" />
    </div>
</div>


