@model YeuCauModel

<input asp-for="ID" type="hidden" />
<input asp-for="pageIndex" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_ID" />
<span asp-validation-for="TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TAI_SAN_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_MA" />
<span asp-validation-for="TAI_SAN_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TAI_SAN_TEN:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_TEN" />
<span asp-validation-for="TAI_SAN_TEN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_TAI_SAN_ID" />
<span asp-validation-for="LOAI_TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_HINH_TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_HINH_TAI_SAN_ID" />
<span asp-validation-for="LOAI_HINH_TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGUYEN_GIA:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGUYEN_GIA" />
<span asp-validation-for="NGUYEN_GIA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_VI_BO_PHAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_VI_BO_PHAN_ID" />
<span asp-validation-for="DON_VI_BO_PHAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">CHUNG_TU_SO:</label>
<div class="col-sm-10">
<nop-editor asp-for="CHUNG_TU_SO" />
<span asp-validation-for="CHUNG_TU_SO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">CHUNG_TU_NGAY:</label>
<div class="col-sm-10">
<nop-editor asp-for="CHUNG_TU_NGAY" />
<span asp-validation-for="CHUNG_TU_NGAY"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_BIEN_DONG:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_BIEN_DONG" />
<span asp-validation-for="NGAY_BIEN_DONG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_SU_DUNG:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_SU_DUNG" />
<span asp-validation-for="NGAY_SU_DUNG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_BIEN_DONG_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_BIEN_DONG_ID" />
<span asp-validation-for="LOAI_BIEN_DONG_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LY_DO_BIEN_DONG_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LY_DO_BIEN_DONG_ID" />
<span asp-validation-for="LY_DO_BIEN_DONG_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TRANG_THAI_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="TRANG_THAI_ID" />
<span asp-validation-for="TRANG_THAI_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_VI_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_VI_ID" />
<span asp-validation-for="DON_VI_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGUOI_TAO_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGUOI_TAO_ID" />
<span asp-validation-for="NGUOI_TAO_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_TAO:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_TAO" />
<span asp-validation-for="NGAY_TAO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GUID:</label>
<div class="col-sm-10">
<nop-editor asp-for="GUID" />
<span asp-validation-for="GUID"></span>
</div>
</div>

