@model BaoCaoTaiSanTongHopSearchModel

@{
	//page title
	ViewBag.Title = "";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("BaoCaoCKTS");
}

<div class="gs-form-group mb-4" style="margin-top:25px;">
	<h6>Điều kiện báo cáo</h6>
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required">Đơn vị</label>
		<div class="col-sm-10">
			<nop-select asp-for="DonVi" asp-filter="true" asp-items="Model.DDLDonVi" asp-disabled="true" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required">Ngày báo cáo</label>
		<div class="col-sm-4">
			<nop-editor asp-for="NgayKetThuc" />
			<span asp-validation-for="NgayKetThuc"></span>
		</div>
	</div>
	<div class="form-group row ">
		<label class="col-form-label col-sm-2 text-sm-left ">Dự án</label>
		<div class="col-sm-4">
			<nop-select asp-for="DuAnId" asp-filter="true" asp-items="Model.DDLDuAn" />
		</div>
		<label class="col-form-label col-sm-2 text-sm-left text-required">Đơn vị tính giá trị</label>
		<div class="col-sm-4">
			<nop-select asp-for="DonViTien" asp-filter="true" asp-items="Model.DDLDonViTien" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required d-none" ">Đơn vị tính diện tích</label>
		<div class="col-sm-4 d-none" ">
			<nop-select asp-for="DonViDienTich" asp-filter="true" asp-items="Model.DDLDonViDienTich" />
		</div>
	</div>

	<div class="form-group" style="text-align:center">
		<button class="btn btn-success" id="btnBaoCao">Báo cáo</button>
	</div>
</div>
<iframe id="view-contentReport" style="width:100%;height:1100px;" frameborder="0"></iframe>
<script>
	$(function () {
		ddlDVTien = $("#DonViTien").data("kendoDropDownList");
		if (ddlDVTien) {
			ddlDVTien.select(1);
		}
		ddlDVDT = $("#DonViDienTich").data("kendoDropDownList");
		if (ddlDVDT) {
			ddlDVDT.select(0);
		}

	});
	function checkvaliDate() {
		var check = true;
		var nkt = $("#NgayKetThuc").val();
		if (!nkt) {
			check = false;
			showInvalidMessage('NgayKetThuc', 'Ngày không được để trống')
		}
		else {
			hideValmsg("NgayKetThuc");
		};
		if (!checkValidateDateFormat('#NgayKetThuc', 'NgayKetThuc', 'Sai định dạng ngày')) {
			check = false;
		};
		return check;
	}
	$("#btnBaoCao").click(function () {
		if (checkvaliDate() === true) {
			var data = {
				NgayKetThuc: getDateFormatForGetMethod($("#NgayKetThuc").val()),
				DuAnId: parseInt($("#DuAnId").val()),
				DonVi: $("#DonVi").val(),
				DonViTien: $("#DonViTien").val(),
				DonViDienTich: $("#DonViDienTich").val(),
			};
			submit_post_via_hidden_form("/Report/TS_BCDA_04C_KHACDENGHIXULY_", data, 'GET');
		}
	})
</script>