@model BaoCaoTaiSanTongHopSearchModel

@{
    //page title
    ViewBag.Title = "BÁO CÁO TỔNG HỢP HIỆN TRẠNG SỬ DỤNG ĐẤT CỦA ĐƠN VỊ - MẪU SỐ 01BC/TSDA";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("BaoCaoBQLDA");
}
<input asp-for="DonVi" type="hidden" />
<div class="gs-form-group mb-4" style="margin-top:25px;">
    <h6>Điều kiện báo cáo</h6>
    <form asp-controller="Report" asp-action="" method="post">
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left">Báo cáo tài sản của đơn vị</label>
            <div class="col-sm-10">
                <nop-select asp-for="DuAnId" asp-items="Model.DDLDuAn" asp-filter="true"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left text-required">Ngày báo cáo</label>
            <div class="col-sm-2">
                <nop-editor asp-for="NgayKetThuc" />
                <span asp-validation-for="NgayKetThuc"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính giá trị</label>
            <div class="col-sm-4">
                <nop-select asp-for="DonViTien" asp-items="Model.DDLDonViTien" />
            </div>
            <label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính diện tích</label>
            <div class="col-sm-4">
                <nop-select asp-for="DonViDienTich" asp-items="Model.DDLDonViDienTich" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính số lượng</label>
            <div class="col-sm-4">
                <nop-select asp-for="So_luong_Object" asp-items="Model.DDLSo_luong_Object" />
            </div>
        </div>
        <div class="form-group row" style="text-align:left">
            <div class="col-2"></div>
            <div class="col-10">
                <button class="btn btn-primary" type="button" id="btnBaoCao">Báo cáo</button>
                @await Html.PartialAsync("_BtnGroupBaoCaoNgam")
            </div>



            @*<button class="btn btn-success" style="display:none;" id="btnBaoCaoNgam" type="submit">Báo cáo ngầm</button>*@
        </div>
    </form>
</div>
<div id="view-contentTask"></div>
<iframe id="view-contentReport" style="width:100%;height:1100px;" frameborder="0"></iframe>
<script>
	$(function () {
		ddlDVTien = $("#DonViTien").data("kendoDropDownList");
		if (ddlDVTien) {
			ddlDVTien.select(1);
		}
		ddlDVDT = $("#DonViDienTich").data("kendoDropDownList");
		if (ddlDVDT) {
			ddlDVDT.select(0);
		}
		ddlSL = $("#So_luong_Object").data("kendoDropDownList");
		if (ddlSL) {
			ddlSL.select(0);
		}

		let _data = {
			MaBaoCao: "@Model.MaBaoCao"
		};
		let _url = '@Url.Action("Detail","QueueProcess")';
		ajaxPost(_data, _url, true).done(function (data) {
			$('#view-contentTask').html(data);
		});
    });
    function checkvaliDate() {
        var check = true;
		var nkt = $("#NgayKetThuc").val();
        if (!nkt) {
            check = false;
			showInvalidMessage('NgayKetThuc','Ngày không được để trống')
        }
		 else
        {
            hideValmsg("NgayKetThuc");
        };
		 if (!checkValidateDateFormat('#NgayKetThuc', 'NgayKetThuc', 'Sai định dạng ngày')) {
            check = false;
        };
        return check;
    }
	$("#btnBaoCao").click(function () {
        if (checkvaliDate()) {
            let StringLoaiTaiSan = null;
            if ($("#ListLoaiTaiSanId").val()) {
                StringLoaiTaiSan = $("#ListLoaiTaiSanId").val().join(',');
            }
            var data = {
                NgayKetThuc: getDateFormatForGetMethod($("#NgayKetThuc").val()),
                DonVi: $("#DonVi").val(),
                StringLoaiTaiSan: StringLoaiTaiSan,
                DuAnId: $("#DuAnId").val(),
                DonViTien: $("#DonViTien").val(),
                DonViDienTich: $("#DonViDienTich").val(),
                So_luong_Object: $("#So_luong_Object").val()
            };
            submit_post_via_hidden_form("/Report/TS_BCDA_01BC_TSDA_", data, 'GET');
        }
		//}
	})

</script>