@model BaoCaoTaiSanChiTietSearchModel

@{
	//page title
	ViewBag.Title = "BÁO CÁO KÊ KHAI THÔNG TIN TÀI SẢN ĐƯỢC XÁC LẬP QUYỀN SỞ HỮU TOÀN DÂN ";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("BaoCaoTSTD");
}

<div class="gs-form-group mb-4" style="margin-top:25px;">
	<h6>Điều kiện báo cáo</h6>
	<form asp-controller="Report" asp-action="TSTD_KeKhaiThongTin_CHAY_NGAM_2" method="post">
		<div class="form-group row">
			<label class="col-form-label col-sm-2 text-sm-left text-required">Quyết định tịch thu</label>
			<div class="col-sm-10">
				<nop-select asp-for="QuyetDinhTichThuTSTD" asp-filter="true" asp-items="Model.DDLQuyetDinhTichThuTSTD" />
				<span asp-validation-for="QuyetDinhTichThuTSTD" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2 text-sm-left text-required">Đơn vị</label>
			<div class="col-sm-10">
				<nop-select asp-for="DonVi" asp-filter="true" asp-items="Model.DDLDonVi" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2 text-sm-left">Loại nguồn gốc</label>
			<div class="col-sm-10">
				<nop-select asp-for="ListNguonGocId" asp-items="Model.DDLNguonGocTaiSan" asp-multiple="true" asp-arrow="true" asp-placeholder="Tất cả" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính giá trị</label>
			<div class="col-sm-4">
				<nop-select asp-for="DonViTien" asp-items="Model.DDLDonViTien" />
			</div>
			@*<label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính diện tích</label>
			<div class="col-sm-4">
				<nop-select asp-for="DonViDienTich" asp-items="Model.DDLDonViDienTich" />
			</div>*@
		</div>
		@*<div class="form-group row">
			<label class="col-form-label col-sm-2 text-sm-left">Đơn vị khối lượng</label>
			<div class="col-sm-4">
				<nop-select asp-for="DonViKhoiLuong" asp-items="Model.DDLDonViKhoiLuong" />
			</div>
		</div>*@
	</form>
</div>
<div class="form-group row" style="text-align:left">
	<div class="col-2"></div>
	<div class="col-10">
		<button class="btn btn-primary" type="button" id="btnBaoCao">Báo cáo</button>
	</div>



	@*<button class="btn btn-success" style="display:none;" id="btnBaoCaoNgam" type="submit">Báo cáo ngầm</button>*@
</div>
@*<div class="form-group row">
	<div class="col-sm-10">
	</div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="items-grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>*@
<div id="view-contentTask"></div>
<iframe id="view-contentReport" style="width:100%;height:1100px;" frameborder="0"></iframe>
<script>
    $(function () {
        //ShowViewLoading("#view_tim_kiem");
        //$.ajax({
        //    type: "GET",
        //    url: "/QuyetDinhTichThu/_ListForBaoCao",
        //    success: function (data) {
        //        $("#view_tim_kiem").html(data);
        //    }
        //})
		ddlDVTien = $("#DonViTien").data("kendoDropDownList");
		if (ddlDVTien) {
			ddlDVTien.select(1);
		}
		//ddlDVKL = $("#DonViKhoiLuong").data("kendoDropDownList");
		//if (ddlDVKL) {
		//	ddlDVKL.select(1);
		//}
		//ddlDVDT = $("#DonViDienTich").data("kendoDropDownList");
		//if (ddlDVDT) {
		//	ddlDVDT.select(0);
		//}

		let _data = {
			MaBaoCao: "@Model.MaBaoCao"
		};
		let _url = '@Url.Action("Detail","QueueProcess")';
		ajaxPost(_data, _url, true).done(function (data) {
			$('#view-contentTask').html(data);
		});
    });
	    function checkvaliDate() {
        var check = true;
		//var qd = $("#QuyetDinhTichThuTSTD").val();
  //      if (!qd || qd == 0) {
  //          check = false;
		//	showInvalidMessage('QuyetDinhTichThuTSTD','Chọn quyết định tịch thu')
  //      }
		// else
  //      {
  //          hideValmsg("QuyetDinhTichThuTSTD");
  //      };
        return check;
    }
    $("#btnBaoCao").click(function () {	
        if (checkvaliDate()) {
            let StringNguonGocTaiSan = null;
            if ($("#ListNguonGocId").val()) {
                StringNguonGocTaiSan = $("#ListNguonGocId").val().join(',');
            }
            var data = {
                QuyetDinhTichThuTSTD: $("#QuyetDinhTichThuTSTD").val(),
                DonVi: $("#DonVi").val(),
                StringNguonGocTaiSan: StringNguonGocTaiSan,
                DonViTien: $("#DonViTien").val(),
                DonViDienTich: $("#DonViDienTich").val(),
                DonViKhoiLuong: $("#DonViKhoiLuong").val(),
                So_luong_Object: $("#So_luong_Object").val()
            };
            submit_post_via_hidden_form("/Report/TSTD_KeKhaiThongTin_", data, 'GET');

        }
    });

</script>