@model DonViSearchModel

<input asp-for="nguoiDungId" hidden />
<div class="ui-bordered px-4 pt-4 mb-4" >
	<div class="form-group row" style="margin-bottom: 0px !important">
		<div class="col-md-10">
			<div class="form-group row">
				<label class="col-form-label col-sm-2 text-sm-left">Từ khóa</label>
				<div class="col-sm-10">
					<input id="KeySearch" class="form-control" style="width:100%" placeholder="Tên/ Mã đơn vị" />
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
		</div>
	</div>

</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="Chondonvi-grid"></div>
					<script>
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    LoaiDonViSearch: $('#@Html.IdFor(model => model.LoaiDonViSearch)').val(),
                                    CapDonViSearch: $('#@Html.IdFor(model => model.CapDonViSearch)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#Chondonvi-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                            $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });

                            $("#Chondonvi-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "DonVi"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: 7,
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    //confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                detailInit: detailInit,
                                scrollable: false,
                                columns:
                                    [
                                        {
                                            field: "MA",
                                            title: "Mã đơn vị",
                                            width: 300,
                                            template: '#=SO_DON_VI_CON>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+SO_DON_VI_CON+"</span>)":MA#'
                                        },
                                        {
                                            field: "TEN",
                                            title: "Tên đơn vị"

                                        },
                                        {
                                        field: "ID",
                                        title: "Chọn",
                                        width: 150,
                                            headerAttributes: {
                                                style: "text-align:center"
                                            },
                                            attributes: {
                                                style: "text-align:center"
                                            },
											template: '<a data-id="#=ID#" data-name="#=TEN#" class="btn btn-sm btn-outline-secondary" href="javascript:void(0);" onclick="SelectDonViQuanLy(this)"><i class="fas fa-pencil-alt d-block"></i>chọn</a>',
                                     }
                                    ]
                            });
                            function detailInit(e) {
                                var data = {
                                    ParentID: e.data.ID,
                                    TreeLevel: 0,
                                    //IsSearchSub: true
                                };
                                addAntiForgeryToken(data);
                                $("<div/>").appendTo(e.detailCell).kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "DonVi"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: data
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: 7,
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        //confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                        mode: "inline"
                                    },
                                    detailInit: detailInit,
                                    scrollable: false,
                                    columns:
                                        [
                                            {
                                                field: "MA",
                                                title: "Mã",
                                                width: 300,
                                                template: '#=SO_DON_VI_CON>0?MA+" &nbsp;(<span class=\'gs-grid-has-child\' style=\'color: red;\'>"+SO_DON_VI_CON+"</span>)":MA#'
                                            },
                                            {
                                                field: "TEN",
                                                title: "Tên đơn vị"

                                            },
                                            {
                                                field: "ID",
                                                title: "Chọn",
                                                width: 150,
                                                headerAttributes: {
                                                    style: "text-align:center"
                                                },
                                                attributes: {
                                                    style: "text-align:center"
                                                },
												template: '<button type="button" data-id="#=ID#" data-name="#=TEN#" class="btn btn-sm btn-outline-secondary" href="javascript:void(0);" onclick="SelectDonViQuanLy(this)"><i class="fas fa-pencil-alt d-block"></i>chọn</button>',
                                            }
                                        ]
                                });
                            };
                        });
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    
</script>