@model NhomCongCuModel

<input asp-for="ID" type="hidden" />

<div class="gs-form-group mb-4" style="margin-top:25px;">
	<h6>Thông tin Nhóm công cụ, dụng cụ</h6>
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required">Tên nhóm CCDC</label>
		<div class="col-sm-10">
			<nop-editor asp-for="TEN" />
			<span asp-validation-for="TEN"></span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required">Thời hạn phân bổ (tháng)</label>
		<div class="col-sm-4">
			<nop-editor asp-for="THOI_HAN_PHAN_BO" asp-amount="true" asp-min-number="0"/>
			<span asp-validation-for="THOI_HAN_PHAN_BO"></span>
		</div>
		<label class="col-form-label col-sm-2 text-sm-left">Đơn vị tính</label>
		<div class="col-sm-4">
			<nop-editor asp-for="DON_VI_TINH_ID" />
			<span asp-validation-for="DON_VI_TINH_ID"></span>
		</div>
	</div>
	@*<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left text-required">Đơn vị</label>
		<div class="col-sm-8">
			<input asp-for="DON_VI_ID" type="hidden" />
			<nop-editor asp-for="TEN_DON_VI" asp-disabled="true" />
			<span asp-validation-for="DON_VI_ID"></span>
		</div>
		<div class="col-sm-2" style="text-align:left">
			<button type="button" class="btn btn-xs btn-outline-primary"  data-toggle="modal" data-target="#globalModalIframe" data-title="Chọn đơn vị" data-src="/NhomCongCu/_ChonDonVi?NguoiDungId=@Model.NGUOI_DUNG_ID">
				<i class="fab fa-sistrix"></i>
				Chọn đơn vị
			</button>
		</div>
	</div>*@
	@if (Model.PARENT_ID > 0)
    {

    <div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-left">Thuộc nhóm công cụ, dụng cụ</label>
		<div class="col-sm-10">
			<nop-select asp-for="PARENT_ID"  asp-items="Model.selectListsParent" asp-readonly="true"/>
			<span asp-validation-for="PARENT_ID"></span>
		</div>
	</div>
            }
</div>
<script>
	$(function () {
		let ddlParentID = $("#PARENT_ID").data("kendoDropDownList");
		ddlParentID?.value(@Model.PARENT_ID);
		
	})
	function SelectDonViQuanLy(e) {
		var donviId = $(e).attr("data-id");
		var tendonvi = $(e).attr("data-name");
		$("#DON_VI_ID").val(donviId);
		$("#TEN_DON_VI").val(tendonvi);

		let _data = {
			DonViId: donviId,
			exceptID: '@Model.ID'

		}
		$.ajax({
			cache: false,
			type: "GET",
			data: _data,
			url: "/NhomCongCu/_GetJsonNhomCongCu",
			success: function (dataSource) {
				let ddlParentID = $("#PARENT_ID").data("kendoDropDownList");
				if (ddlParentID) {
					ddlParentID.setDataSource(dataSource);
					ddlParentID.select(0);
				}
				HideModalManual();
			}
		});
	}
</script>