@model LogsDongBoCsdlqgModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">UUID:</label>
<div class="col-sm-10">
<nop-editor asp-for="UUID" />
<span asp-validation-for="UUID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">MA_QLTSC:</label>
<div class="col-sm-10">
<nop-editor asp-for="MA_QLTSC" />
<span asp-validation-for="MA_QLTSC"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">MA_CSDLQG:</label>
<div class="col-sm-10">
<nop-editor asp-for="MA_CSDLQG" />
<span asp-validation-for="MA_CSDLQG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">MO_TA:</label>
<div class="col-sm-10">
<nop-editor asp-for="MO_TA" />
<span asp-validation-for="MO_TA"></span>
</div>
</div>

