@model BaoCaoDoiChieuModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Đơn vị:</label>
    <div class="col-sm-8">
        <nop-select asp-for="DON_VI_ID" asp-filter="true" asp-items="Model.DDLDonVi" asp-arrow="true" asp-placeholder="Chọn đơn vị" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Phần báo cáo:</label>
    <div class="col-sm-8">
        <nop-select asp-for="BAO_CAO_ID" asp-filter="true" asp-items="Model.DDLPhanBaoCao" asp-arrow="true" asp-placeholder="Chọn phần báo cáo" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Năm báo cáo:</label>
    <div class="col-sm-4">
        <nop-editor asp-for="NAM_BAO_CAO" />
        <span asp-validation-for="NAM_BAO_CAO"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Phần mềm:</label>
    <div class="col-sm-8">
        <nop-select asp-for="HE_THONG_ID" asp-filter="true" asp-items="Model.DDLHeThong" asp-arrow="true"  />
    </div>
</div>
@*<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Ngày tạo:</label>
    <div class="col-sm-8">
        <nop-editor asp-for="NGAY_TAO" />
        <span asp-validation-for="NGAY_TAO"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Ngày cập nhật:</label>
    <div class="col-sm-8">
        <nop-editor asp-for="NGAY_CAP_NHAT" />
        <span asp-validation-for="NGAY_CAP_NHAT"></span>
    </div>
</div>*@
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">File đối chiếu:</label>
    <div class="col-sm-8">
        <div id="fileUpload_container">
            <div class="file-upload">
                <div class="file-select" style="width:100%;height: 33px;border-radius: 4px;">
                    <div class="file-select-button ">Chọn file</div>
                    <div class="file-select-name">@(string.IsNullOrEmpty(Model.TenFile)? "Không có file nào được chọn" : Model.TenFile)</div>
                    <input type="file" name="httpPostedFile" class="inputFile" id="UploadedFile" data-guid="">
                    <input type="hidden" asp-for="FILE_ID" id="FILE_ID" />
                    <input type="hidden" asp-for="TenFile" id="TenFile" />
                </div>
            </div>
            <span data-valmsg-for="FILE_ID" data-valmsg-replace="true"></span>
        </div>
    </div>
    
</div>
<script>
    $(document).ready(function () {
        $("#UploadedFile").on('change', function () {
            var input = $('#UploadedFile').get(0);
            var files = $(input).prop("files")
            if (files && files.length > 0) {
                var formData = new FormData();
                formData.append("httpPostedFile", files[0]);
                $.ajax({
                    type: "POST",
                    data: formData,
                    url: "/BaoCaoDoiChieu/SaveDropzoneJsUploadedFiles",
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (result) {
                        changeFileName(input);
                        console.log(result[0].ID);
                        $('#FILE_ID').val(result[0].ID)
                    },

                })

            }
        })

    })
</script>
<script>
    function changeFileName(input) {
        var parentDiv = $(input).parent();
        var filename = $(input).val();
        var fileSelectName = parentDiv.find(".file-select-name");
        $(input).addClass('active');
        fileSelectName.text(filename.replace("C:\\fakepath\\", ""));
    }
</script>

<style>
    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

        .file-upload .file-select {
            display: block;
            border: 2px solid #dce4ec;
            color: #34495e;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
            width: 315px;
            position: relative;
            width: 100%;
            height: 32px;
            position: relative;
            border-radius: 4px;
        }

            .file-upload .file-select .file-select-button {
                background: #dce4ec;
                padding: 0 10px;
                display: inline-block;
                height: 40px;
                line-height: 40px;
                position: absolute;
                top: -6px;
                width: 58px;
                left: 0px;
                padding: 0 5px;
            }

            .file-upload .file-select .file-select-name {
                line-height: 40px;
                display: inline-block;
                padding: 0 10px;
                position: absolute;
                left: 53px;
                top: -6px;
            }

            .file-upload .file-select:hover {
                border-color: #34495e;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

                .file-upload .file-select:hover .file-select-button {
                    background: #34495e;
                    color: #FFFFFF;
                    transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }

        .file-upload.active .file-select {
            border-color: #3fa46a;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

            .file-upload.active .file-select .file-select-button {
                background: #3fa46a;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

        .file-upload .file-select input[type=file] {
            z-index: 100;
            cursor: pointer;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .file-upload .file-select.file-select-disabled {
            opacity: 0.65;
        }

            .file-upload .file-select.file-select-disabled:hover {
                cursor: default;
                display: block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                margin-top: 5px;
                text-align: left;
                background: #FFFFFF;
                overflow: hidden;
                position: relative;
            }

                .file-upload .file-select.file-select-disabled:hover .file-select-button {
                    background: #dce4ec;
                    color: #666666;
                    padding: 0 10px;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                }

                .file-upload .file-select.file-select-disabled:hover .file-select-name {
                    line-height: 40px;
                    display: inline-block;
                    padding: 0 10px;
                }
</style>