@model HienTrangSearchModel
@{
	//page title
	ViewBag.Title = "Hiện trạng sử dụng";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("DanhMucHienTrang");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
	<h5 class="pull-left">
		@*@ViewBag.Title*@
        <br />
	</h5>
	@*<div class="pull-right" style="margin-bottom:5px;">
		<a asp-action="Create" class="btn btn-success">
			<i class="fa fa-plus-square"></i>
			Thêm mới
		</a>
	</div>*@
</div>
<div class="ui-bordered px-4 pt-4 mb-4" >
	<div class="form-group row">
		<label class="col-form-label col-sm-2 text-sm-right">Từ khóa:</label>
		<div class="col-sm-8">
			<nop-editor asp-for="KeySearch" />
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
		</div>
	</div>
	<div class=" form-group row">
		<label class="col-form-label col-sm-2 text-sm-right">Nhóm tài sản:</label>
		<div class="col-sm-4">
			<nop-select asp-for="LoaiHinhTSId" asp-items="Model.LoaiHinhTaiSanAvailable" />
		</div>
		<div class="col-sm-4"></div>
		@*<label class="col-form-label col-sm-2 text-sm-right">Kiểu dữ liệu:</label>
			<div class="col-sm-4">
				<nop-select asp-for="KieuDuLieuId" asp-items="Model.KieuDuLieuAvailable" />
			</div>*@

	</div>
</div>
<div class="form-group row">
	<div class="col-sm-10 d-flex align-items-center">
		<div class="tle1">
			<i class=" fas fa-list-ul mr-2"></i><span id="name-list">Danh sách Hiện trạng sử dụng</span>
		</div>
	</div>
	<div class="col-sm-2 text-right">
		<a asp-action="Create" class="btn  btn-sm btn-outline-primary">
			<i class="fa fa-plus-square"></i>
			Thêm mới
		</a>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="items-grid"></div>
					<script>
                        $(document).ready(function () {
                             record = 0;
                            function SearchData() {
                                var _data = {
									KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
									LoaiHinhTSId:$('#@Html.IdFor(model => model.LoaiHinhTSId)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                record = 0;
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "HienTrang"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                dataBinding: function () {
                                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                                    console.log('data change');
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        title: "STT",
                                        template: "#= ++record #",
                                        width: 35,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                    },
                                    {field: 'TEN_HIEN_TRANG',title: 'Tên hiện trạng sử dụng'},
                                    { field: 'TEN_LOAI_TAI_SAN', title: 'Nhóm tài sản' },
                                    { field: 'TEN_NHOM_HIEN_TRANG', title: 'Loại Tài sản áp dụng' },
                                    {field: 'TEN_KIEU_DU_LIEU',title: 'Kiểu dữ liệu'},
                                {
                                    field: "ID",
                                    title: "Thao tác",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=#=ID#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'}
                                ]
                            });
                        });
					</script>
				</div>
			</div>
		</div>
	</div>
</div>


