body {
    font-family: 'Roboto Condensed', sans-serif !important;
}
.bx-time {
    display: inline-block;
    font-size: 38px;
    font-family: "OpenSans-Light",sans-serif;
    height: 100%;
    line-height: 38px;
    position: relative;
    vertical-align: middle;
    z-index: 5;
    margin-right: 15px;
    color: #02bc77;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

.time-hours, .time-semicolon, .time-minutes {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.time-am-pm {
    display: inline-block;
    font-size: 13px;
    height: 100%;
    line-height: 25px;
    margin-left: 0;
    vertical-align: top;
    padding-left: 5px;
}

.gs-infor-message {
    width: 300px;
    height: 80px;
}

    .gs-infor-message p {
        font-size: 1em;
        padding: 32px 10px 5px;
    }

    .gs-infor-message img {
        float: left;
        margin: 30px 15px 30px 30px;
    }
.gs-error-message {
    width: 300px;
    height: 80px;
}

    .gs-error-message p {
        font-size: 1em;
        padding: 32px 10px 5px;
    }

    .gs-error-message img {
        float: left;
        margin: 30px 15px 30px 30px;
    }
.gs-success-message {
    width: 300px;
    height: 80px;
}

    .gs-success-message p {
        font-size: 1em;
        padding: 32px 10px 5px;
    }

    .gs-success-message img {
        float: left;
        margin: 30px 15px 30px 30px;
    }

.input-group-btn span.required {
    color: #ff2e2e;
    margin-left: 6px;
    font-size: 16px;
    font-weight: bold;
}
/*bootstrap touchspin*/
.bootstrap-touchspin {
    max-width: 300px;
    width: 100%;
}

    .bootstrap-touchspin input {
        height: auto;
        display: table-cell !important;
        min-height: 34px;
    }

.bootstrap-touchspin-postfix {
    border-left: none;
}

.bootstrap-touchspin .input-group-btn-vertical i {
    left: 6px;
}

.input-group-addon.bootstrap-touchspin-postfix {
    background-color: #eee;
    height: 34px;
    padding-right: 30px;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
    background: #fff;
    border-color: #d2d6de;
    border-radius: 0;
    height: 20px;
    font-size: 0;
    padding-right: 14px;
    padding-left: 6px;
}

    .bootstrap-touchspin .input-group-btn-vertical > .btn:before {
        font-size: 9px;
    }

    .bootstrap-touchspin .input-group-btn-vertical > .btn:hover {
        border-color: #afafaf;
    }

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    margin-top: 16px;
    height: 19px;
}

.content-header {
    padding-top: 10px;
}

    .content-header h5 {
        padding-top: 10px;
    }

.pull-left {
    float: left;
}

.app-work-money {
    color: #ff6a00;
    font-weight: bold;
    font-size: 16px
}

.app-work-icon-hot {
    color: red;
    font-size: 16px;
    margin: 0px 5px;
}

.field-validation-error, .validation-summary-errors {
    color: red;
}

.field-validation-valid.warning,
.field-validation-custom.warning {
    color: #fff;
    background-color: #f39c12;
    margin: 5px 0;
    display: block;
    padding: 5px;
    border-radius: 3px;
    border-left: 5px solid #c87f0a;
}
/* THROBBER */
.throbber-header {
    font-size: 145%;
}

.throbber {
    display: none;
}

    .throbber .curtain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #3e4d45;
        opacity: 0.9;
        filter: alpha(opacity=90);
        z-index: 9999;
    }

    .throbber .curtain-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

        .throbber .curtain-content div {
            text-align: center;
            padding: 250px;
            color: #FFF;
        }
/*AJAX loading*/
#ajaxBusy {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

    #ajaxBusy span {
        background: url(images/ajax-loading.gif) no-repeat;
        width: 40px;
        height: 40px;
        float: right;
        margin: 9px 9px 0px 0px;
    }

.nav-tabs-custom > .nav .nav-link.active, .nav-tabs-top > div > .nav .nav-link.active {
    border-top: 3px solid #b60e0e !important;
}

.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}

.custom-checkbox {
    margin-top: 7px;
}
.sidenav-vertical .sidenav-menu .sidenav-link {
    padding-left: 3rem!important;
}
.gs-form {
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 4px rgba(24,28,33,0.009);
    box-shadow: 0 1px 4px rgba(24,28,33,0.009);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(24,28,33,0.06);
    border-radius: .25rem;
    padding: 0px 10px;
}

    .gs-form .gs-form-header {
        font-weight: bold;
        border-bottom: 1px solid #f2f0f0;
        padding: 5px;
        margin-bottom: 5px;
    }

        .gs-form .gs-form-header span {
            vertical-align: middle;
            padding-top: 10px;
        }

.gs-form-group {
    padding: 15px;
    background-color: #fff;
    border: 2px solid rgba(24,28,33,0.06);
    position: relative;
    margin-bottom: 1rem !important;
}

    .gs-form-group h6 {
        position: absolute;
        top: -10px;
        left: 15px;
        background: #fff;
        padding: 0 2px;
        font-size: .894rem;
        color: #2673b4;
    }

.form-control {
    min-height: calc(1.7rem + 2px);
    padding: .188rem .625rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: rgba(24,28,33,0.1);
}

.col-form-label, .input-group-text {
    padding-top: calc(.188rem + 2px);
    font-size: .85rem !important;
    line-height: 1.5;
}

.form-group {
    margin-bottom: .31rem;
}

select.form-control:not([size]):not([multiple]) {
    height: inherit;
}

.k-widget.form-control .k-input {
    padding: .5rem .75rem;
    height: 1.75rem;
}

.k-state-focused {
    border-color: #26B4FF !important;
    box-shadow: none !important;
}

.k-autocomplete, .k-combobox .k-dropdown-wrap, .k-dateinput .k-dateinput-wrap, .k-datepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap, .k-flatcolorpicker .k-color-value, .k-input.k-textbox, .k-multiselect-wrap, .k-numerictextbox .k-numeric-wrap, .k-textarea, .k-textbox, .k-timepicker .k-picker-wrap {
    border-color: rgba(0, 0, 0, 0.00);
}

.editorToolbarWindow.k-header.k-window-content a.k-tool, .k-button, .k-button-group .k-state-disabled:not(.k-state-active), .k-button-group.k-state-disabled .k-button:not(.k-state-active), .k-colorpicker .k-picker-wrap, .k-combobox .k-select, .k-ct-popup .k-editor-toolbar a.k-tool, .k-dateinput .k-select, .k-datepicker .k-select, .k-datetimepicker .k-select, .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-editor .k-editor-toolbar-wrap a.k-tool, .k-fieldselector .k-list li.k-item, .k-gantt-views li, .k-handle, .k-list-container .k-nodata .k-button, .k-map .k-navigator, .k-numerictextbox .k-select, .k-pivot-toolbar .k-button, .k-scheduler-footer li, .k-scheduler-navigation .k-nav-next, .k-scheduler-navigation .k-nav-prev, .k-scheduler-navigation .k-nav-today, .k-scheduler-views li, .k-spreadsheet-filter, .k-timepicker .k-select, .k-toolbar .k-split-button .k-button {
    border-color: rgba(0, 0, 0, 0.00);
}

    .k-dropdown .k-dropdown-wrap, .k-dropdown .k-dropdown-wrap:hover, .k-combobox .k-select, .k-combobox .k-select:hover, .k-combobox .k-state-hover .k-select, .k-combobox > :hover .k-select {
        background-color: inherit;
        background-image: inherit;
    }
.row .k-animation-container {
    padding-left: .75rem;
}
.k-datepicker, .k-datetimepicker
{
    border-width:1px;
}
.gs-mg-top-10{
    margin-top: 10px;
}
.gs-mg-bot-10 {
    margin-bottom: 10px;
}
.gs-mg-l-10 {
    margin-left: 10px;
}
.gs-mg-r-10 {
    margin-right: 10px;
}
.gs-mg-bot-5 {
    margin-bottom: 5px;
}
.gs-col-form-label {
    padding-top: calc(.188rem + 2px);
    font-size: 1rem !important;
    line-height: 1.5;
}
.sidenav-vertical .sidenav-icon {
    width: 1.25rem!important;
}
.sidenav-vertical .sidenav-item .sidenav-link {
    padding-left:0.7rem!important;
}
.sidenav-vertical .sidenav-menu {    
    padding-left: .625rem;
}
.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
}