@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    font-weight: 100;
}
    /*login*/
    body#LoginForm {
        background: url(../images/blur-26347-27038-hd-wallpapers.jpg) no-repeat center bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.form-heading {
    color: #ffeb02;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 5px;
}

.text-name {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    text-shadow: 2px 2px 4px #000000;
}

.panel h2 {
    font-size: 21px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 0;
}

.panel p {
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 0;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
/*.panel{
	background: url(../images/bg-t.png) no-repeat left bottom #2673b4;
	border-radius: 7px 7px 0 0;
	padding: 10px;
}*/
.modal-header {
    position: relative;
    padding: 1.25rem 2.5625rem 1.25rem 1.5625rem;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 14px;
    border: solid 8px #fff;
    margin-bottom: 20px;
}

.box-login {
    border: solid 1px #2673b4;
    border-radius: 10px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    color: #ffffff;
    font-size: 21px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

#Login {
    padding: 20px;
}

.bo100 {
    border-radius: 30px;
    text-transform: uppercase;
    border: solid 1px #2673b4;
}

.forgot {
    text-align: left;
    margin-bottom: 20px;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.addon {
    padding: 6px 12px 6px 20px;
    font-weight: 400;
    line-height: 2.4;
    color: #555;
    text-align: center;
    background-color: #eee;
    border-left: 1px solid #ccc !important;
    border-right: none !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.from100 {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.h36 {
    height: 36px !important;
    border-radius: 34px !important;
}

.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}

.back {
    text-align: left;
    margin-top: 10px;
}

    .back a {
        color: #444444;
        font-size: 13px;
        text-decoration: none;
    }

/*end login*/
.pa-TB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    float: left;
    margin-right: 20px;
}

.slogan h5, .slogan h4 {
    text-transform: uppercase;
}

.slogan h5 {
    color: #ff8400;
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 100;
}

.slogan h4 {
    color: #004689;
    margin-bottom: 0;
    font-weight: 700;
}

.bg-nav {
    background: #2673b4;
}

.bg-nav1 {
    background: #eee;
}
/*---------menu nav hover-------
.dropdown:hover>.dropdown-menu {
  display: block;
}----*/
/*---------end menu nav hover-----------*/
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #e1d800;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffd800;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.bo-t {
    border-top: solid 1px #c48812;
}

.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.fa-bc {
    background: url(../images/icon_hover.png) no-repeat 10px 6px #ffc107;
    padding-left: 55px;
}

    .fa-bc:hover {
        background: url(../images/icon_hover.png) no-repeat 10px 6px #e0a800;
    }

.menu-icon li {
    background: rgba(225,225,225,0.8);
    display: inline-block;
    margin: 0 0 0 1px;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-bottom: 5px;
}

    .menu-icon li:hover {
        background: rgba(225,225,225,1);
    }

    .menu-icon li a {
        color: #004689;
    }

.menu-icon > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.menu-icon > li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*slide*/
.tle-slide {
    font-weight: 700;
    font-size: 50px;
}

.slides {
    background: rgba(0,0,0,1);
}

#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}

#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}

    #thumbnail-preview-indicators .slides .slide-1,
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1,
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
        height: 480px;
    }

        #thumbnail-preview-indicators .slides .slide-1 {
            background-image: url(../images/slide1.jpg);
        }

        #thumbnail-preview-indicators .slides .slide-2 {
            background-image: url(../images/slide2.jpg);
        }

        #thumbnail-preview-indicators .slides .slide-3 {
            background-image: url(../images/slide3.jpg);
        }

        #thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
            top: 30%;
            bottom: inherit;
        }

        #thumbnail-preview-indicators .carousel-indicators li,
        #thumbnail-preview-indicators .carousel-indicators li.active {
            position: relative;
            width: 100px;
            height: 8px;
        }

            #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
                position: absolute;
                top: 0;
                width: 100px;
                display: none;
                opacity: 0;
                left: 50%;
                margin-top: -80px;
                margin-left: -50px;
            }

            #thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
            #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
                display: block;
                opacity: .8;
            }

                #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
                    opacity: 1;
                }

@media screen and (max-width : 480px) {
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
    }

        #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
            width: 50px;
            left: 50%;
            margin-top: -50px;
            margin-left: -25px;
        }

    .tle-slide {
        font-size: 30px;
        font-weight: 400;
    }
}

/*end slide*/
.bo-topD {
    border-top: dotted 1px;
    border-color-top: rgba(0,0,0,0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.w350 {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

carousel-caption h2 {
    text-transform: uppercase;
}

.pad-TB20 {
    padding-top: 20px;
}

.img-tron {
    border: solid 2px #484848;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    color: #484848;
    background: #fff;
    line-height: 2.4 !important;
}

.text-step {
    font-size: 21px;
    color: #484848;
}

.text-U {
    text-transform: uppercase;
    color: #2673b4;
}

.tle {
    text-transform: uppercase;
    text-align: center;
}

.text-right1 {
    text-align: right;
}

.bg-primary {
    background: #2673b4 !important;
}

a {
    color: #2673b4;
}

/*menu left*/
.col-sm-3 {
    /*    height: 150px;
        background-color:#01549b;*/
}
/*.col-sm-9{
    height: 160px;
    background-color:#2aabd2;
    border: 1px solid yellow;
    opacity: 0.9;
}*/


.nav-side-menu {
    overflow: auto;
    background-color: #2673b4;
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    color: #fff;
}

    .nav-side-menu .brand {
        background-color: #0c518b;
        line-height: 40px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-size: 19px;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
    */
    }

        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
        }

        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }

            .nav-side-menu ul .sub-menu li.active a,
            .nav-side-menu li .sub-menu li.active a {
                color: #d19b3d;
            }

        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background: url(../images/icon.png) no-repeat 37px 10px #3583c4;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #0c518b;
            margin-left: 0px;
            padding-left: 47px;
            color: #b3dbfc;
        }

            .nav-side-menu ul .sub-menu li:hover,
            .nav-side-menu li .sub-menu li:hover {
                background-color: #0c518b;
            }

            .nav-side-menu ul .sub-menu li:before,
            .nav-side-menu li .sub-menu li:before {
                /*font-family: FontAwesome;
    content: "\f054";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;*/
            }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 3px solid #0c518b;
        border-bottom: 1px solid #0c518b;
    }

        .nav-side-menu li a {
            text-decoration: none;
            color: #fff;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }

        .nav-side-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #0c518b;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            color: #6fa8d8;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

.w260 {
    width: 260px;
}

.bg-xam {
    background: #eee;
}

.box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box1 {
    padding: 15px;
    background-color: #fff;
    border: 3px solid #f2f0f0;
}

.btn-primary {
    background: #2673b4;
}

.th-center th {
    text-align: center;
    background: #2673b4;
    color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2673b4;
    border-color: #2673b4;
}

.page-link {
    color: #2673b4;
}
/*tim kiếm*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 800px;
        }
}

@media screen and (max-width: 767px) {

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .btn-default:hover {
        background: #e6e6e6;
    }

.dropdown-menu {
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.btn_bo {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.tle1 {
    color: #2673b4;
    font-size: 21px;
}

.box-tk {
    background: #fcfbf5;
    border: solid 1px #ede4b4;
    padding: 1rem;
}

.nav-tabs .nav-link1.active {
    color: #2673b4;
    border-color: #2673b4 #2673b4 #fff;
}

.bo-b {
    border-bottom: solid 1px #2673b4;
}

.nav-link1 {
    color: #3D3D3D;
    font-size: 21px;
    font-weight: 400;
}

.tab-content {
    background: #fff;
}

.col-form-label-sm {
    font-size: 1rem;
}

.btn-outline-primary {
    color: #2673b4;
    background-color: transparent;
    background-image: none;
    border-color: #2673b4;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #2673b4;
        border-color: #2673b4;
    }

.pos {
    position: relative;
    height: 100%;
}

.tle-box {
    position: absolute;
    top: -20px;
    left: 15px;
    color: #2673b4;
    background: #fff;
}

.bo-tnone {
    border-top: none;
    margin-bottom: 30px;
}

.icon-d {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.sub-menu li .icon-d {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
/*Sidebar left*/
dd {
    margin-right: 0;
}

figure {
    margin: 0 0 1rem;
}

caption {
    text-align: right;
}

th {
    text-align: right;
}

.list-unstyled {
    padding-right: 0;
}

.list-inline {
    padding-right: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-left: 5px;
}

.blockquote {
    border-left: none;
    border-right: 0.25rem solid #eceeef;
}

.blockquote-reverse {
    padding-left: 1rem;
    padding-right: 0;
    text-align: left;
    border-left: 0.25rem solid #eceeef;
    border-right: 0;
}

dl.row > dd + dt {
    clear: right;
}


.pull-0 {
    left: auto;
}

.pull-1 {
    left: 8.33333%;
}

.pull-2 {
    left: 16.66667%;
}

.pull-3 {
    left: 25%;
}

.pull-4 {
    left: 33.33333%;
}

.pull-5 {
    left: 41.66667%;
}

.pull-6 {
    left: 50%;
}

.pull-7 {
    left: 58.33333%;
}

.pull-8 {
    left: 66.66667%;
}

.pull-9 {
    left: 75%;
}

.pull-10 {
    left: 83.33333%;
}

.pull-11 {
    left: 91.66667%;
}

.pull-12 {
    left: 100%;
}

.push-0 {
    right: auto;
}

.push-1 {
    right: 8.33333%;
}

.push-2 {
    right: 16.66667%;
}

.push-3 {
    right: 25%;
}

.push-4 {
    right: 33.33333%;
}

.push-5 {
    right: 41.66667%;
}

.push-6 {
    right: 50%;
}

.push-7 {
    right: 58.33333%;
}

.push-8 {
    right: 66.66667%;
}

.push-9 {
    right: 75%;
}

.push-10 {
    right: 83.33333%;
}

.push-11 {
    right: 91.66667%;
}

.push-12 {
    right: 100%;
}

.offset-1 {
    margin-right: 8.33333%;
}

.offset-2 {
    margin-right: 16.66667%;
}

.offset-3 {
    margin-right: 25%;
}

.offset-4 {
    margin-right: 33.33333%;
}

.offset-5 {
    margin-right: 41.66667%;
}

.offset-6 {
    margin-right: 50%;
}

.offset-7 {
    margin-right: 58.33333%;
}

.offset-8 {
    margin-right: 66.66667%;
}

.offset-9 {
    margin-right: 75%;
}

.offset-10 {
    margin-right: 83.33333%;
}

.offset-11 {
    margin-right: 91.66667%;
}

@media (min-width: 544px) {

    .pull-sm-0 {
        left: auto;
    }

    .pull-sm-1 {
        left: 8.33333%;
    }

    .pull-sm-2 {
        left: 16.66667%;
    }

    .pull-sm-3 {
        left: 25%;
    }

    .pull-sm-4 {
        left: 33.33333%;
    }

    .pull-sm-5 {
        left: 41.66667%;
    }

    .pull-sm-6 {
        left: 50%;
    }

    .pull-sm-7 {
        left: 58.33333%;
    }

    .pull-sm-8 {
        left: 66.66667%;
    }

    .pull-sm-9 {
        left: 75%;
    }

    .pull-sm-10 {
        left: 83.33333%;
    }

    .pull-sm-11 {
        left: 91.66667%;
    }

    .pull-sm-12 {
        left: 100%;
    }

    .push-sm-0 {
        right: auto;
    }

    .push-sm-1 {
        right: 8.33333%;
    }

    .push-sm-2 {
        right: 16.66667%;
    }

    .push-sm-3 {
        right: 25%;
    }

    .push-sm-4 {
        right: 33.33333%;
    }

    .push-sm-5 {
        right: 41.66667%;
    }

    .push-sm-6 {
        right: 50%;
    }

    .push-sm-7 {
        right: 58.33333%;
    }

    .push-sm-8 {
        right: 66.66667%;
    }

    .push-sm-9 {
        right: 75%;
    }

    .push-sm-10 {
        right: 83.33333%;
    }

    .push-sm-11 {
        right: 91.66667%;
    }

    .push-sm-12 {
        right: 100%;
    }

    .offset-sm-0 {
        margin-right: 0%;
    }

    .offset-sm-1 {
        margin-right: 8.33333%;
    }

    .offset-sm-2 {
        margin-right: 16.66667%;
    }

    .offset-sm-3 {
        margin-right: 25%;
    }

    .offset-sm-4 {
        margin-right: 33.33333%;
    }

    .offset-sm-5 {
        margin-right: 41.66667%;
    }

    .offset-sm-6 {
        margin-right: 50%;
    }

    .offset-sm-7 {
        margin-right: 58.33333%;
    }

    .offset-sm-8 {
        margin-right: 66.66667%;
    }

    .offset-sm-9 {
        margin-right: 75%;
    }

    .offset-sm-10 {
        margin-right: 83.33333%;
    }

    .offset-sm-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 768px) {

    .pull-md-0 {
        left: auto;
    }

    .pull-md-1 {
        left: 8.33333%;
    }

    .pull-md-2 {
        left: 16.66667%;
    }

    .pull-md-3 {
        left: 25%;
    }

    .pull-md-4 {
        left: 33.33333%;
    }

    .pull-md-5 {
        left: 41.66667%;
    }

    .pull-md-6 {
        left: 50%;
    }

    .pull-md-7 {
        left: 58.33333%;
    }

    .pull-md-8 {
        left: 66.66667%;
    }

    .pull-md-9 {
        left: 75%;
    }

    .pull-md-10 {
        left: 83.33333%;
    }

    .pull-md-11 {
        left: 91.66667%;
    }

    .pull-md-12 {
        left: 100%;
    }

    .push-md-0 {
        right: auto;
    }

    .push-md-1 {
        right: 8.33333%;
    }

    .push-md-2 {
        right: 16.66667%;
    }

    .push-md-3 {
        right: 25%;
    }

    .push-md-4 {
        right: 33.33333%;
    }

    .push-md-5 {
        right: 41.66667%;
    }

    .push-md-6 {
        right: 50%;
    }

    .push-md-7 {
        right: 58.33333%;
    }

    .push-md-8 {
        right: 66.66667%;
    }

    .push-md-9 {
        right: 75%;
    }

    .push-md-10 {
        right: 83.33333%;
    }

    .push-md-11 {
        right: 91.66667%;
    }

    .push-md-12 {
        right: 100%;
    }

    .offset-md-0 {
        margin-right: 0%;
    }

    .offset-md-1 {
        margin-right: 8.33333%;
    }

    .offset-md-2 {
        margin-right: 16.66667%;
    }

    .offset-md-3 {
        margin-right: 25%;
    }

    .offset-md-4 {
        margin-right: 33.33333%;
    }

    .offset-md-5 {
        margin-right: 41.66667%;
    }

    .offset-md-6 {
        margin-right: 50%;
    }

    .offset-md-7 {
        margin-right: 58.33333%;
    }

    .offset-md-8 {
        margin-right: 66.66667%;
    }

    .offset-md-9 {
        margin-right: 75%;
    }

    .offset-md-10 {
        margin-right: 83.33333%;
    }

    .offset-md-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 992px) {

    .pull-lg-0 {
        left: auto;
    }

    .pull-lg-1 {
        left: 8.33333%;
    }

    .pull-lg-2 {
        left: 16.66667%;
    }

    .pull-lg-3 {
        left: 25%;
    }

    .pull-lg-4 {
        left: 33.33333%;
    }

    .pull-lg-5 {
        left: 41.66667%;
    }

    .pull-lg-6 {
        left: 50%;
    }

    .pull-lg-7 {
        left: 58.33333%;
    }

    .pull-lg-8 {
        left: 66.66667%;
    }

    .pull-lg-9 {
        left: 75%;
    }

    .pull-lg-10 {
        left: 83.33333%;
    }

    .pull-lg-11 {
        left: 91.66667%;
    }

    .pull-lg-12 {
        left: 100%;
    }

    .push-lg-0 {
        right: auto;
    }

    .push-lg-1 {
        right: 8.33333%;
    }

    .push-lg-2 {
        right: 16.66667%;
    }

    .push-lg-3 {
        right: 25%;
    }

    .push-lg-4 {
        right: 33.33333%;
    }

    .push-lg-5 {
        right: 41.66667%;
    }

    .push-lg-6 {
        right: 50%;
    }

    .push-lg-7 {
        right: 58.33333%;
    }

    .push-lg-8 {
        right: 66.66667%;
    }

    .push-lg-9 {
        right: 75%;
    }

    .push-lg-10 {
        right: 83.33333%;
    }

    .push-lg-11 {
        right: 91.66667%;
    }

    .push-lg-12 {
        right: 100%;
    }

    .offset-lg-0 {
        margin-right: 0%;
    }

    .offset-lg-1 {
        margin-right: 8.33333%;
    }

    .offset-lg-2 {
        margin-right: 16.66667%;
    }

    .offset-lg-3 {
        margin-right: 25%;
    }

    .offset-lg-4 {
        margin-right: 33.33333%;
    }

    .offset-lg-5 {
        margin-right: 41.66667%;
    }

    .offset-lg-6 {
        margin-right: 50%;
    }

    .offset-lg-7 {
        margin-right: 58.33333%;
    }

    .offset-lg-8 {
        margin-right: 66.66667%;
    }

    .offset-lg-9 {
        margin-right: 75%;
    }

    .offset-lg-10 {
        margin-right: 83.33333%;
    }

    .offset-lg-11 {
        margin-right: 91.66667%;
    }
}

@media (min-width: 1200px) {

    .pull-xl-0 {
        left: auto;
    }

    .pull-xl-1 {
        left: 8.33333%;
    }

    .pull-xl-2 {
        left: 16.66667%;
    }

    .pull-xl-3 {
        left: 25%;
    }

    .pull-xl-4 {
        left: 33.33333%;
    }

    .pull-xl-5 {
        left: 41.66667%;
    }

    .pull-xl-6 {
        left: 50%;
    }

    .pull-xl-7 {
        left: 58.33333%;
    }

    .pull-xl-8 {
        left: 66.66667%;
    }

    .pull-xl-9 {
        left: 75%;
    }

    .pull-xl-10 {
        left: 83.33333%;
    }

    .pull-xl-11 {
        left: 91.66667%;
    }

    .pull-xl-12 {
        left: 100%;
    }

    .push-xl-0 {
        right: auto;
    }

    .push-xl-1 {
        right: 8.33333%;
    }

    .push-xl-2 {
        right: 16.66667%;
    }

    .push-xl-3 {
        right: 25%;
    }

    .push-xl-4 {
        right: 33.33333%;
    }

    .push-xl-5 {
        right: 41.66667%;
    }

    .push-xl-6 {
        right: 50%;
    }

    .push-xl-7 {
        right: 58.33333%;
    }

    .push-xl-8 {
        right: 66.66667%;
    }

    .push-xl-9 {
        right: 75%;
    }

    .push-xl-10 {
        right: 83.33333%;
    }

    .push-xl-11 {
        right: 91.66667%;
    }

    .push-xl-12 {
        right: 100%;
    }

    .offset-xl-0 {
        margin-right: 0%;
    }

    .offset-xl-1 {
        margin-right: 8.33333%;
    }

    .offset-xl-2 {
        margin-right: 16.66667%;
    }

    .offset-xl-3 {
        margin-right: 25%;
    }

    .offset-xl-4 {
        margin-right: 33.33333%;
    }

    .offset-xl-5 {
        margin-right: 41.66667%;
    }

    .offset-xl-6 {
        margin-right: 50%;
    }

    .offset-xl-7 {
        margin-right: 58.33333%;
    }

    .offset-xl-8 {
        margin-right: 66.66667%;
    }

    .offset-xl-9 {
        margin-right: 75%;
    }

    .offset-xl-10 {
        margin-right: 83.33333%;
    }

    .offset-xl-11 {
        margin-right: 91.66667%;
    }
}

.form-check-label {
    padding-right: 1.25rem;
}

.form-check-input {
    margin-right: -1.25rem;
}

.form-check-inline {
    padding-right: 1.25rem;
}

    .form-check-inline + .form-check-inline {
        margin-right: .75rem;
    }

.form-control-feedback {
    margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-left: 2.25rem;
    background-position: center right 0.625rem;
}

.form-inline .form-check-label {
    padding-right: 0;
}

.dropdown-toggle::after {
    margin-right: 0.3em;
}

.dropdown-menu {
    right: 0;
    float: right;
    margin: 2px 0 0;
    /*text-align: right;*/
}

.dropdown-divider {
    margin: 0.5rem 0;
}



.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-right: -1px;
}

.btn-toolbar {
    margin-right: -0.5rem;
}



    .btn-toolbar > .btn,
    .btn-toolbar > .btn-group,
    .btn-toolbar > .input-group {
        margin-right: 0.5rem;
    }

.btn-group > .btn:first-child {
    margin-right: 0;
}

.btn-group > .btn-group {
    float: right;
}

.btn + .dropdown-toggle-split::after {
    margin-right: 0;
}


.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
    margin-right: 0;
}

.input-group .form-control {
    float: left;
}

.input-group-addon:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.15);
    border-left: 0;
}

.form-control + .input-group-addon:not(:first-child) {
    border-left-width: medium;
    border-right: 0;
}



.input-group-btn > .btn + .btn {
    margin-right: -1px;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
    margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
    margin-right: -1px;
}

.custom-control {
    padding-right: 1.5rem;
}

    .custom-control + .custom-control {
        margin-right: 1rem;
    }

.custom-control-indicator {
    right: 0;
}

.custom-controls-stacked .custom-control + .custom-control {
    margin-right: 0;
}

.custom-select {
    padding-left: 0.75rem \9;
}

.nav {
    padding-right: 0;
}



.nav-tabs .nav-item + .nav-item {
    margin-right: 0.2rem;
}



.nav-pills .nav-item + .nav-item {
    margin-right: 0.2rem;
}

.nav-stacked .nav-item + .nav-item {
    margin-right: 0;
}







.navbar-nav .nav-link + .nav-link {
    margin-right: 1rem;
}

.navbar-nav .nav-item + .nav-item {
    margin-right: 1rem;
}

@media (max-width: 543px) {
    .navbar-toggleable .navbar-nav .nav-item {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .nav-item {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .nav-item {
        margin-right: 0;
    }
}

.card-link + .card-link {
    margin-right: 1.25rem;
}

.card-blockquote {
    border-right: 0;
}

.breadcrumb-item {
    float: right;
}

.pagination {
    padding-right: 0;
}

.page-item:first-child .page-link {
    margin-right: 0;
}

.page-link {
    margin-right: -1px;
}

.alert-dismissible {
    padding-left: 2rem;
}

    .alert-dismissible .close {
        left: -1rem;
    }

.media-list {
    padding-right: 0;
}

.list-group {
    padding-right: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    right: 0;
}

.close {
    float: left;
}

.tooltip {
    text-align: right;
}

    .tooltip.tooltip-top .tooltip-arrow,
    .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
        right: 50%;
        margin-right: -5px;
    }

    .tooltip.tooltip-bottom .tooltip-arrow,
    .tooltip.bs-tether-element-attached-top .tooltip-arrow {
        right: 50%;
        margin-right: -5px;
    }

.popover {
    right: 0;
    text-align: right;
}

    .popover.popover-top .popover-arrow,
    .popover.bs-tether-element-attached-bottom .popover-arrow {
        right: 50%;
        margin-right: -11px;
    }

        .popover.popover-top .popover-arrow::after,
        .popover.bs-tether-element-attached-bottom .popover-arrow::after {
            margin-right: -10px;
        }

    .popover.popover-bottom .popover-arrow,
    .popover.bs-tether-element-attached-top .popover-arrow {
        right: 50%;
        margin-right: -11px;
    }

        .popover.popover-bottom .popover-arrow::after,
        .popover.bs-tether-element-attached-top .popover-arrow::after {
            margin-right: -10px;
        }

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .carousel-item.next,
    .carousel-inner > .carousel-item.active.right {
        right: 0;
    }

    .carousel-inner > .carousel-item.prev,
    .carousel-inner > .carousel-item.active.left {
        right: 0;
    }

        .carousel-inner > .carousel-item.next.left,
        .carousel-inner > .carousel-item.prev.right,
        .carousel-inner > .carousel-item.active {
            right: 0;
        }
}

.carousel-inner > .active {
    right: 0;
}

.carousel-inner > .next {
    right: 100%;
}

.carousel-inner > .prev {
    right: -100%;
}

    .carousel-inner > .next.left,
    .carousel-inner > .prev.right {
        right: 0;
    }

.carousel-inner > .active.left {
    right: -100%;
}

.carousel-inner > .active.right {
    right: 100%;
}

/*.carousel-control {
  right: 0;
}

.carousel-control.right {
  left: 0;
  right: auto;
}*/

.carousel-control .icon-prev {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-next {
    left: 50%;
    margin-left: -10px;
}

.carousel-indicators {
    right: 50%;
    padding-right: 0;
    margin-right: -30%;
}

.carousel-caption {
    left: 15%;
    right: 15%;
    z-index: 10;
}

@media (min-width: 544px) {
    .carousel-control .icon-prev {
        margin-right: -15px;
    }

    .carousel-control .icon-next {
        margin-left: -15px;
    }

    .carousel-caption {
        left: 20%;
        right: 20%;
    }
}





body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2673b4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 10px;
        line-height: 40px;
        border-bottom: solid 1px #3480bf;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #fff;
            border-left: solid 3px #2673b4;
        }

            .sidebar-nav .active a, .sidebar-nav li a:hover {
                border-left: solid 3px #ff0000;
                background-color: #639ecf;
            }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

            .sidebar-nav li a:active, .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        font-size: 18px;
        background: rgb(12, 81, 139);
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
            border-left: solid 3px #0c518b;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

        #wrapper.toggled {
            padding-left: 250px;
        }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #505050;
}

    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link:hover {
        color: #2673b4;
    }

.col-sibar {
    color: #505050;
}

.font400 {
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.sub-menu {
    list-style: none;
}

    .sub-menu li {
        text-indent: 0;
    }

        .sub-menu li a {
            color: #e9f5ff;
            font-size: 14px;
            line-height: 1.4;
            padding-bottom: 8px;
            padding-top: 8px;
        }

.pad-l0 {
    padding-left: 0;
}

/*------------------*/
.text-mobli {
    color: #fff;
    font-weight: 400;
}

.text-nc {
    font-size: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    left: 50px;
    right: 50px;
}

    .footer h4 {
        font-size: 16px;
    }

    .footer p {
        font-size: 14px;
        margin-bottom: 0.3rem;
    }

.text-vang {
    color: #ffeb02;
}

@media screen and (max-width: 767px) {

    .footer {
        position: inherit;
    }
}
/*.ht{
	border-top: solid 2px #fff;
	border-left: solid 2px #fff;
	border-bottom: solid 2px #fff;
	background: #ed1c24;
	color: #fff;
	border-radius: 40px 0 0 40px;
	position: fixed;
	bottom: 5px;
	right: 0;
	width: 220px;
	padding: 8px;
}*/
.phone {
    border-radius: 40px;
    border: solid 2px #fff;
    text-align: center;
    line-height: 4.5;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.font-ht {
    color: #ffeb02;
    font-size: 19px;
}
/*qc*/
.wrap {
    position: fixed;
    overflow: hidden;
    right: 20px;
    bottom: 55px;
    width: 200px;
    padding: 10px;
    display: block;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    z-index: 10000;
    border: solid 2px #fff;
    /*background: #ed1c24;*/
    color: #fff;
    border-radius: 40px;
}

    .wrap .content1 {
        opacity: 0;
    }

    .wrap:before {
        position: absolute;
        width: 1px;
        height: 1px;
        background: #ed1c24;
        content: "";
        bottom: 20px;
        left: 50%;
        top: 95%;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .wrap.active {
        display: block;
        visibility: visible;
        box-shadow: 2px 3px 16px silver;
        transition: all 600ms;
        transform: translateY(0px);
        transition: all 0.5s;
    }

        .wrap.active:before {
            height: 2000px;
            width: 2000px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            margin-left: -1000px;
            margin-top: -1000px;
            display: block;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .wrap.active .content1 {
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
            text-align: center;
            line-height: 1.2;
        }

a.button {
    outline: none;
    border-radius: 50%;
    background: #9d1c21;
    color: #fff;
    font-size: 24px;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: auto;
    margin-left: -25px;
    transition: transform 0.25s;
    padding: 4px;
    height: 40px;
    width: 40px;
    text-align: center;
}

    a.button:hover {
        text-decoration: none;
        background: #9d1c21;
    }

    a.button.active {
        /*transform: rotate(135deg);
  transition: transform 0.5s;*/
    }

.badge1 {
    position: absolute;
    top: 2px;
    left: 7px;
    font-size: 14px;
    color: #fcff00;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
/* BELL */
@keyframes ring {
    0% {
        transform: rotate(-15deg)
    }

    2% {
        transform: rotate(15deg)
    }

    4% {
        transform: rotate(-18deg)
    }

    6% {
        transform: rotate(18deg)
    }

    8% {
        transform: rotate(-22deg)
    }

    10% {
        transform: rotate(22deg)
    }

    12% {
        transform: rotate(-18deg)
    }

    14% {
        transform: rotate(18deg)
    }

    16% {
        transform: rotate(-12deg)
    }

    18% {
        transform: rotate(12deg)
    }

    20%,100% {
        transform: rotate(0deg)
    }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial;
}

    .faa-ring.animated.faa-fast,
    .faa-ring.animated-hover.faa-fast:hover,
    .faa-parent.animated-hover:hover > .faa-ring.faa-fast {
        animation: ring 1s ease infinite;
    }

    .faa-ring.animated.faa-slow,
    .faa-ring.animated-hover.faa-slow:hover,
    .faa-parent.animated-hover:hover > .faa-ring.faa-slow {
        animation: ring 3s ease infinite;
    }

.back-to-top {
    bottom: 20px !important;
    right: 50px !important;
}


/**/
.bootbox-close-button {
    float: right !important;
}

.custom-content-checkbox {
    display: -webkit-box;
    margin-top: 0.5rem;
}

    .custom-content-checkbox label {
        cursor: pointer;
    }

.sub-menu li {
    text-indent: -0.5em;
}

/*JsonView*/
.jsonView {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}


.loader {
    width: 60px;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

    .loader-text:after {
        content: 'Loading';
        animation: load 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }

    33% {
        content: 'Loading.';
    }

    67% {
        content: 'Loading..';
    }

    100% {
        content: 'Loading...';
    }
}
/*JsonView*/