@model DonViChuyenDoiModel
@{
    //page title
    ViewBag.Title = "Thay đổi thông tin đơn vị";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DanhMucDonVi");
    var isDisabled = "";
    if (Model.NgayTaoDonVi == null || Model.NgayTaoDonVi < DateTime.Today.AddDays(-18))
    {
        isDisabled = "disabled";
    }
}
<form asp-controller="DonViChuyenDoi" asp-action="Create" method="post">
    <div class="card mb-4">
        <h6 class="card-header">
            @ViewBag.Title
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="DonVi">Quay lại danh sách</a>
            </small>
            <button isDisabled type="submit" name="save" class="btn btn-success" style="float:right;margin-right:5px; ">
                <i class="fas fa-save" style="margin-right:5px;"></i>
                Lưu
            </button>
        </h6>
        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </div>
</form>

