<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="/XtraReports/css/bundle.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/XtraReports/css/dx.light.css" asp-append-version="true">
    <link rel="stylesheet" href="/XtraReports/css/bundle-reporting.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/XtraReports/css/dx-analytics.softblue.min.css" asp-append-version="true">
    <script src="/XtraReports/js/bundle.min.js" asp-append-version="true"></script>
</head>
<body class="dx-viewport">
    @RenderBody()
</body>
</html>
