@model GiamDieuChuyenModel
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Số quyết định</label>
    <div class="col-sm-4">
        <nop-editor asp-for="SO_QUYET_DINH" />
    </div>
    <label class="col-form-label col-sm-2 text-sm-left">Ngày quyết định</label>
    <div class="col-sm-4">
        <nop-editor asp-for="NGAY_QUYET_DINH" />
    </div>
</div>
<div class="form-group row">

    <label class="col-form-label col-sm-2 text-sm-left text-required">Lý do giảm</label>
    <div class="col-sm-4">
        <nop-select asp-for="LoaiXuatNhapId" asp-items="Model.DDLLoaiXuatNhap" />
        <span id="err_LoaiXuatNhapId" style="display:none;" class="field-validation-error">Chọn lý do giảm</span>
    </div>
    <label class="col-form-label col-sm-2 text-sm-left text-required">Ngày giảm</label>
    <div class="col-sm-2">
        <nop-editor asp-for="NGAY_DIEU_CHUYEN" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Số chứng từ</label>
    <div class="col-sm-4">
        <nop-editor asp-for="SO_CHUNG_TU" />
    </div>
    <label class="col-form-label col-sm-2 text-sm-left">Ngày chứng từ</label>
    <div class="col-sm-4">
        <nop-editor asp-for="NGAY_CHUNG_TU" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Ghi chú</label>
    <div class="col-sm-10">
        <app-textarea asp-for="GHI_CHU" />
    </div>
</div>
<script>
    $("#btnSaveDieuChuyen").click(function () {
        var checkValidation = true;
        var ListCongCuDieuChuyen = [];
        $(".listCongCuModel").each(function () {
            var IDF = $(this).data("guid");
            var MapId_VAL = IDF;
            var SoLuongDieuChuyen_VAL = $("#SoLuongDieuChuyen_" + IDF).val();
            var congcu = {
                MapId: MapId_VAL,
                SoLuongDieuChuyen: SoLuongDieuChuyen_VAL
            };
            ClearGiamValidated(IDF);
            if (!CheckGiamValidation(IDF)) {
                checkValidation = false;
            }
            ListCongCuDieuChuyen.push(congcu);
        });
        var data = {
            ListCongCuDieuChuyenModel: ListCongCuDieuChuyen,
            SO_QUYET_DINH: $("#SO_QUYET_DINH").val(),
            NGAY_QUYET_DINH: $("#NGAY_QUYET_DINH").val(),
            NGAY_DIEU_CHUYEN: $("#NGAY_DIEU_CHUYEN").val(),
            DON_VI_ID: $("#DON_VI_ID").val(),
            SO_CHUNG_TU: $("#SO_CHUNG_TU").val(),
            NGAY_CHUNG_TU: $("#NGAY_CHUNG_TU").val(),
            GHI_CHU: $("#GHI_CHU").val(),
            LoaiXuatNhapId: $("#LoaiXuatNhapId").val(),
        };
        if (checkValidation) {
            $.ajax({
                url: "/GiamKhac/Create",
                type: "POST",
                data: data,
                success: function (data) {
                    if (CheckValidMessageReturn(data)) {
                        ShowSuccessMessage(data.Message);
                        document.location.href = '/GiamKhac/List';
                    }
                },
                error: function (data) {

                }
            })
        }
    })
    function CheckGiamValidation(e) {
        var check = true;
        var SoLuongDieuChuyen = $("#SoLuongDieuChuyen_" + e).val();
        var SoLuongCoTheDieuChuyen = $("#SoLuongCoTheChuyen_" + e).text();
        if (SoLuongDieuChuyen == undefined && (SoLuongDieuChuyen == 0 || (SoLuongDieuChuyen > SoLuongCoTheDieuChuyen))) {
            $("#err_SO_LUONG_" + e).show();
            check = false;
        }
        var LyDoGiam = $("#LoaiXuatNhapId").val();
        if (LyDoGiam == undefined || LyDoGiam == 0) {
            $("#err_LoaiXuatNhapId").show();
             check = false;
        }
        return check;
    }
    function ClearGiamValidated(e) {
        $("#err_SO_LUONG_" + e).hide();
        $("#err_LoaiXuatNhapId").hide();
    }
</script>