@model TaiSanNhatKyModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_ID" />
<span asp-validation-for="TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_HINH_TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_HINH_TAI_SAN_ID" />
<span asp-validation-for="LOAI_HINH_TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TRANG_THAI_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="TRANG_THAI_ID" />
<span asp-validation-for="TRANG_THAI_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_DONG_BO:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_DONG_BO" />
<span asp-validation-for="NGAY_DONG_BO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_CAP_NHAT:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_CAP_NHAT" />
<span asp-validation-for="NGAY_CAP_NHAT"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">IS_TAI_SAN_TOAN_DAN:</label>
<div class="col-sm-10">
<nop-editor asp-for="IS_TAI_SAN_TOAN_DAN" />
<span asp-validation-for="IS_TAI_SAN_TOAN_DAN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">QUYET_DINH_TICH_THU_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="QUYET_DINH_TICH_THU_ID" />
<span asp-validation-for="QUYET_DINH_TICH_THU_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">BD_IDS:</label>
<div class="col-sm-10">
<nop-editor asp-for="BD_IDS" />
<span asp-validation-for="BD_IDS"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">RESPONSE:</label>
<div class="col-sm-10">
<nop-editor asp-for="RESPONSE" />
<span asp-validation-for="RESPONSE"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">BD_IDS_DANG_DB:</label>
<div class="col-sm-10">
<nop-editor asp-for="BD_IDS_DANG_DB" />
<span asp-validation-for="BD_IDS_DANG_DB"></span>
</div>
</div>

