@model TaiSanKiemKeTaiSanSearchModel

<nop-antiforgery-token />
<div class="ui-bordered px-4 pt-4 mb-4" >
     <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-left">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearch" />
            <input asp-for="KiemKeId" type="hidden" />
            <input asp-for="isTaiSanThua" type="hidden" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>   
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        var recordTS = 0;
                        $(document).ready(function () {
                            
                            function SearchData() {
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    KiemKeId: $("#KiemKeId").val(),
                                    isTaiSanThua: $("#isTaiSanThua").val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                recordTS = 0;
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "TaiSanKiemKeTaiSan"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                 dataBinding: function() {
                                      recordTS = (this.dataSource.page() -1) * this.dataSource.pageSize();
                                 },
                                scrollable: false,                                
                                columns: [
                                    {
                                      title: "STT",
                                      template: "#= ++recordTS #",
                                      width: 50,
                                      headerAttributes: { style: "text-align:center" },
                                      attributes: { style: "text-align:center" },
                                    },
									{
										field: 'MaTaiSan',
										title: 'Mã tài sản',
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "white-space: nowrap" },
									},
									{
										field: 'TenTaiSan',
										title: 'Tên tài sản',
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:left" },
									},
									{
										field: 'SoLuongText',
										title: 'Số lượng',
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:right" },
									},
									{
										field: 'NguyenGiaText',
										title: 'Nguyên giá',
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:right" },
									},
									{
										field: 'GiaTriConLaiText',
										title: 'Giá trị còn lại',
										headerAttributes: { style: "text-align:center" },
										attributes: { style: "text-align:right" },
									},
									{
										field: 'TinhTrangText',
										title: 'Tình trạng',
										headerAttributes: { style: "text-align:center" },
									},
                                {
                                    field: "ID",
                                    title: "Thao tác",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class= "btn icon-btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="\\#globalModalIframe" data-title="Sửa tài sản kiểm kê" data-src="/TaiSanKiemKeTaiSan/Edit?Id=#=ID#">Sửa</a>'}
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


