@model GS.Core.Domain.Common.MessageReturn
<a href="DanhMucQuocGia?token=@Model.ObjectInfo" class="btn btn-outline-danger">Đồng bộ quốc gia</a>
&nbsp;
<a href="DanhMucLoaiDonVi?token=@Model.ObjectInfo" class="btn btn-outline-danger">Đồng bộ đơn vị</a>
<a href="DanhMucMucDichSuDung?token=@Model.ObjectInfo" class="btn btn-outline-danger">Đồng bộ đơn vị</a>
<a href="DanhMucNguonGocTaiSan?token=@Model.ObjectInfo" class="btn btn-outline-danger">Đồng bộ NGTS</a>
<a href="DanhMucLoaiTaiSan?token=@Model.ObjectInfo" class="btn btn-outline-danger">Đồng bộ Loại tài sản</a>