
@model PrameterDongBoTaiSanModel
@{
    //page title
    ViewBag.Title = "Export file json tài sản đồng bộ sang kho";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ExportJsonTaiSanDongBoSangKho");
}
@using GS.Core.Data
<div class="card">
    <div class="card-header">
        Export file json tài sản đồng bộ sang kho
    </div>
    <div class="card-body">
        <div class=" row form-group">
            <label class="col-form-label col-sm-2 ">Đơn vị đồng bộ</label>
            <input id="donviId" type="hidden" />
            <div class="col-sm-8">
                <nop-editor asp-for="TenDonVi" asp-disabled="true" />
            </div>
            <div class="col-sm-2" style="text-align:right">
                <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal" data-target="#globalModalIframe" data-title="Chọn đơn vị" data-src="/DonVi/_ChonDonVi?isStayInPage=true">
                    <i class="fab fa-sistrix"></i>
                    Chọn đơn vị
                </button>
            </div>
        </div>
        <div class="row form-group">
            <div class=" row form-group">
                <div class=" col-md-2">
                    Loại biến động
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="LoaiBienDongId" asp-items="Model.DdlLoaiBienDong" asp-filter="true" />
                </div>
                <div class=" col-md-2">
                    Nguồn tài sản
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="NguonTaiSanId" asp-items="Model.DdlNguonTaiSan" asp-filter="true" />
                </div>
            </div>
        </div>
        <button type="button" id="btnGetData" class="btn btn-success">Lấy file</button>
        <br />
    </div>
</div>
<script>
    $(function () {
        $('#btnDongBoTaiSanCu').click(function () {
            if ($('#donviId').val() == null || $('#donviId').val() == 0) {
                ShowErrorMessage("Chọn đơn vị");
            }
            else {
                showThrobber("Đang xử lý dữ liệu, xin vui lòng chờ...");
                var donvi = {
                    LoaiBienDongId: $('#LoaiBienDongId').val(),
                    NguonTaiSanId: $('#NguonTaiSanId').val(),
                    DonViCha: $('#donviId').val()
                }
                $.ajax({
                    type: "POST",
                    data: donvi,
                    url: "/DongBo/DongBoTaiSanCu",
                    success: function (reuslt) {
                        hideThrobber();
                        $("#msg").html(reuslt.Message);
                    }
                })
            }
        })
    })

</script>