@model DongBoTaiSanModel
@{
    //page title
    ViewBag.Title = "Import khấu hao tài sản dkts4.0";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ImportKhauHaoTaiSan40");
}
@using GS.Core.Data
<div class="card">
    <div class="card-header">
        Nhập file khấu hao
    </div>
    <div class="card-body">
        <form method="post" asp-action="DongBoTaiSanFromFile" asp-controller="DongBo" enctype="multipart/form-data" id="data">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label w-100">Nhập file khấu hao</label>
                        <div class="custom-file">
                            <input name="file" class="custom-file-input" id="file" type="file">
                            <label class="custom-file-label" for="file">Nhập file</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="btnDongBo" class="btn btn-success"> Import khấu hao</button>
            <br />
            <span id="logTime"></span>
        </form>
    </div>
</div>



<div id="NhaNuoc">
    Danh sách khấu hao đã nhập thành công
    <div id="TaiSanNhaNuoc-success-grid">
    </div>
    Danh sách khấu hao đã nhập thất bại
    <a href="#" id="downloadListErr"><i class="fas fa-download"></i></a>
    <div id="TaiSanNhaNuoc-error-grid">
    </div>
</div>
<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    $("#btnDongBo").click(function (evt) {
        $('#TaiSanNhaNuoc-success-grid').empty();
        $('#TaiSanNhaNuoc-error-grid').empty();
        var d = new Date();
        var logTime = ("0" + d.getDate()).slice(-2) + "/" +
            ("0" + (d.getMonth() + 1)).slice(-2) + "/" +
            d.getFullYear() + " " +
            ("0" + d.getHours()).slice(-2) + ":" +
            ("0" + d.getMinutes()).slice(-2) + ":" +
            ("0" + d.getSeconds()).slice(-2);
        evt.preventDefault();
        var fileupload = $("#file").get(0);
        var file = fileupload.files;
        var data = new FormData();
        data.append("file", file[0]);
        data.append("nguonId", '@((int)enumNguonTaiSan.DKTS40)');
        showThrobber("Đang xử lý dữ liệu, xin vui lòng chờ...");
        $.ajax({
            type: "post",
            url: "/DongBo/ImportKhauHaoFromFile",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                d = new Date();
                logTime = logTime + " => " + ("0" + d.getDate()).slice(-2) + "/" +
                    ("0" + (d.getMonth() + 1)).slice(-2) + "/" +
                    d.getFullYear() + " " +
                    ("0" + d.getHours()).slice(-2) + ":" +
                    ("0" + d.getMinutes()).slice(-2) + ":" +
                    ("0" + d.getSeconds()).slice(-2);
                $("#logTime").html(logTime);
                    $('#NhaNuoc').show();
                    if (result.success) {
                        TaiSanNhaNuocSuccess(result.ListSuccess);
                        hideThrobber();
                    }
                    else {
                        if (result.ListSuccess == undefined) {
                            ShowErrorMessage("Có lỗi trong quá trình xử lý");
                            hideThrobber();
                        }
                        else {
                            TaiSanNhaNuocSuccess(result.ListSuccess);
                            TaiSanNhaNuocError(result.ListError);
                            $("#downloadListErr").attr("href", "ExportByUrl?filePath=" + result.filePath + "&fileName=" + result.fileName + "&fileType=" + result.fileType);
                            hideThrobber();
                        }

                    }

            },
            error: function () {
                $("#logTime").html("");
                ShowErrorMessage("there was error uploading files!");
            }
        });
    });

    function TaiSanNhaNuocSuccess(data) {
        var record = 1;
        //var _dataSource = new kendo.data.DataSource({
        //    data: data,
        //    pageSize: 10,
        //    change: function (e) {
        //        record = 1;
        //    }
        //});
        $("#TaiSanNhaNuoc-success-grid").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 10,
                change: function (e) {
                    record = 1;
                }
            },
            pageable: {
                refresh: true,
                pageSizes: true,
            },
            scrollable: false,
            columns: [
                {
                    title: 'STT',
                    width: 50,
                    template: function () {
                        let pageSize = $("#TaiSanNhaNuoc-success-grid").data("kendoGrid").dataSource.pageSize();
                        pageSize = typeof pageSize == 'undefined' ? 0 : pageSize;
                        let page = $("#TaiSanNhaNuoc-success-grid").data("kendoGrid").dataSource.page();
                        page = typeof page == 'undefined' ? 0 : page;
                        let i = record++;
                        return (parseInt(i) + (parseInt(page) - 1) * parseInt(pageSize));
                    }
                },
                {
                    title: 'Mã tài sản',
                    field: 'KhauHaoDB.MA_TAI_SAN',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Năm khấu hao',
                    field: 'KhauHaoDB.NAM_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Tháng khấu hao',
                    field: 'KhauHaoDB.THANG_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Giá trị khấu hao',
                    field: 'KhauHaoDB.GIA_TRI_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },

                {
                    title: 'Giá trị còn lại',
                    field: 'KhauHaoDB.TONG_GIA_TRI_CON_LAI',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Ghi chú',
                    field: 'Message',
                    attributes: { style: "text-align:center" },
                },
            ]
        });

    }
    function TaiSanNhaNuocError(data) {
        var record = 1;
        console.log(data);
        //var _dataSource = new kendo.data.DataSource({
        //    data: data,
        //    pageSize: 10,
        //    change: function (e) {
        //        record = 1;
        //    }
        //});
        $("#TaiSanNhaNuoc-error-grid").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 10,
                change: function (e) {
                    record = 1;
                }
            },
            pageable: {
                refresh: true,
                pageSizes: true,
            },
            scrollable: false,
            columns: [
                {
                    title: 'STT',
                    width: 50,
                    template: function () {
                        let pageSize = $("#TaiSanNhaNuoc-error-grid").data("kendoGrid").dataSource.pageSize();
                        pageSize = typeof pageSize == 'undefined' ? 0 : pageSize;
                        let page = $("#TaiSanNhaNuoc-error-grid").data("kendoGrid").dataSource.page();
                        page = typeof page == 'undefined' ? 0 : page;
                        let i = record++;
                        return (parseInt(i) + (parseInt(page) - 1) * parseInt(pageSize));
                    }
                },
                {
                    title: 'Mã tài sản',
                    field: 'KhauHaoDB.MA_TAI_SAN',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Năm khấu hao',
                    field: 'KhauHaoDB.NAM_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Tháng khấu hao',
                    field: 'KhauHaoDB.THANG_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Giá trị khấu hao',
                    field: 'KhauHaoDB.GIA_TRI_KHAU_HAO',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Giá trị còn lại',
                    field: 'KhauHaoDB.TONG_GIA_TRI_CON_LAI',
                    attributes: { style: "text-align:center" },
                },
                {
                    title: 'Ghi chú',
                    field: 'Message',
                    attributes: { style: "text-align:center" },
                },
            ]
        });
        //hideThrobber();
    }
    $(function () {
        $('#NhaNuoc').hide();
    })
</script>
