
@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<html>
<body>
    <div style="width:100%;text-align:center;padding-top:25px">
        <h1>Welcome to API System</h1>
    </div>
</body>
</html>
