@model KetQuaModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TAI_SAN_TD_XU_LY_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_TD_XU_LY_ID" />
<span asp-validation-for="TAI_SAN_TD_XU_LY_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_VI_CHUYEN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_VI_CHUYEN_ID" />
<span asp-validation-for="DON_VI_CHUYEN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GIA_TRI_NSNN:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_NSNN" />
<span asp-validation-for="GIA_TRI_NSNN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GIA_TRI_TKTG:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_TKTG" />
<span asp-validation-for="GIA_TRI_TKTG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">CHI_PHI_XU_LY:</label>
<div class="col-sm-10">
<nop-editor asp-for="CHI_PHI_XU_LY" />
<span asp-validation-for="CHI_PHI_XU_LY"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">HOP_DONG_SO:</label>
<div class="col-sm-10">
<nop-editor asp-for="HOP_DONG_SO" />
<span asp-validation-for="HOP_DONG_SO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">HOP_DONG_NGAY:</label>
<div class="col-sm-10">
<nop-editor asp-for="HOP_DONG_NGAY" />
<span asp-validation-for="HOP_DONG_NGAY"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GUID:</label>
<div class="col-sm-10">
<nop-editor asp-for="GUID" />
<span asp-validation-for="GUID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">GIA_TRI_BAN:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_BAN" />
<span asp-validation-for="GIA_TRI_BAN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">HO_SO_GIAY_TO_KHAC:</label>
<div class="col-sm-10">
<nop-editor asp-for="HO_SO_GIAY_TO_KHAC" />
<span asp-validation-for="HO_SO_GIAY_TO_KHAC"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_XU_LY:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_XU_LY" />
<span asp-validation-for="NGAY_XU_LY"></span>
</div>
</div>

