@model DBTempTaiSanCuModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">MA_TAI_SAN:</label>
<div class="col-sm-10">
<nop-editor asp-for="MA_TAI_SAN" />
<span asp-validation-for="MA_TAI_SAN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TEN_TAI_SAN:</label>
<div class="col-sm-10">
<nop-editor asp-for="TEN_TAI_SAN" />
<span asp-validation-for="TEN_TAI_SAN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGUON_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGUON_ID" />
<span asp-validation-for="NGUON_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_TAI_SAN_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_TAI_SAN_MA" />
<span asp-validation-for="LOAI_TAI_SAN_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_NHAP:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_NHAP" />
<span asp-validation-for="NGAY_NHAP"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_DUYET:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_DUYET" />
<span asp-validation-for="NGAY_DUYET"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_SU_DUNG:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_SU_DUNG" />
<span asp-validation-for="NGAY_SU_DUNG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">LOAI_HINH_TAI_SAN_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="LOAI_HINH_TAI_SAN_ID" />
<span asp-validation-for="LOAI_HINH_TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_VI_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_VI_MA" />
<span asp-validation-for="DON_VI_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TRANG_THAI:</label>
<div class="col-sm-10">
<nop-editor asp-for="TRANG_THAI" />
<span asp-validation-for="TRANG_THAI"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DON_VI_BO_PHAN_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="DON_VI_BO_PHAN_MA" />
<span asp-validation-for="DON_VI_BO_PHAN_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NUOC_SAN_XUAT_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="NUOC_SAN_XUAT_MA" />
<span asp-validation-for="NUOC_SAN_XUAT_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NAM_SAN_XUAT:</label>
<div class="col-sm-10">
<nop-editor asp-for="NAM_SAN_XUAT" />
<span asp-validation-for="NAM_SAN_XUAT"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">CHE_DO_HAO_MON_ID:</label>
<div class="col-sm-10">
<nop-editor asp-for="CHE_DO_HAO_MON_ID" />
<span asp-validation-for="CHE_DO_HAO_MON_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NHOM_DON_VI_MA:</label>
<div class="col-sm-10">
<nop-editor asp-for="NHOM_DON_VI_MA" />
<span asp-validation-for="NHOM_DON_VI_MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NAM:</label>
<div class="col-sm-10">
<nop-editor asp-for="NAM" />
<span asp-validation-for="NAM"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_TAO:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_TAO" />
<span asp-validation-for="NGAY_TAO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">NGAY_SUA:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGAY_SUA" />
<span asp-validation-for="NGAY_SUA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">DATA_JSON:</label>
<div class="col-sm-10">
<nop-editor asp-for="DATA_JSON" />
<span asp-validation-for="DATA_JSON"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">RESPONSE:</label>
<div class="col-sm-10">
<nop-editor asp-for="RESPONSE" />
<span asp-validation-for="RESPONSE"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">TRANG_THAI_DB:</label>
<div class="col-sm-10">
<nop-editor asp-for="TRANG_THAI_DB" />
<span asp-validation-for="TRANG_THAI_DB"></span>
</div>
</div>

