@model DBTempTaiSanCuSearchModel
@{
    //page title
    ViewBag.Title = "DBTempTaiSanCu";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DBTempTaiSanCu");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h5 class="pull-left">
        @ViewBag.Title
    </h5>
    <div class="pull-right" style="margin-bottom:5px;">
        <a asp-action="Create" class="btn btn-success">
            <i class="fa fa-plus-square"></i>
            Thêm mới
        </a>
    </div>
</div>
<div class="ui-bordered px-4 pt-4 mb-4" style="padding-bottom: 24px;">
     <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearch" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-info" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>   
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch:$('#@Html.IdFor(model => model.KeySearch)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "DBTempTaiSanCu"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                scrollable: false,                                
                                columns: [
{field: 'MA_TAI_SAN',title: 'MA_TAI_SAN'},
{field: 'TEN_TAI_SAN',title: 'TEN_TAI_SAN'},
{field: 'NGUON_ID',title: 'NGUON_ID'},
{field: 'LOAI_TAI_SAN_MA',title: 'LOAI_TAI_SAN_MA'},
{field: 'NGAY_NHAP',title: 'NGAY_NHAP'},
{field: 'NGAY_DUYET',title: 'NGAY_DUYET'},
{field: 'NGAY_SU_DUNG',title: 'NGAY_SU_DUNG'},
{field: 'LOAI_HINH_TAI_SAN_ID',title: 'LOAI_HINH_TAI_SAN_ID'},
{field: 'DON_VI_MA',title: 'DON_VI_MA'},
{field: 'TRANG_THAI',title: 'TRANG_THAI'},
{field: 'DON_VI_BO_PHAN_MA',title: 'DON_VI_BO_PHAN_MA'},
{field: 'NUOC_SAN_XUAT_MA',title: 'NUOC_SAN_XUAT_MA'},
{field: 'NAM_SAN_XUAT',title: 'NAM_SAN_XUAT'},
{field: 'CHE_DO_HAO_MON_ID',title: 'CHE_DO_HAO_MON_ID'},
{field: 'NHOM_DON_VI_MA',title: 'NHOM_DON_VI_MA'},
{field: 'NAM',title: 'NAM'},
{field: 'NGAY_TAO',title: 'NGAY_TAO'},
{field: 'NGAY_SUA',title: 'NGAY_SUA'},
{field: 'DATA_JSON',title: 'DATA_JSON'},
{field: 'RESPONSE',title: 'RESPONSE'},
{field: 'TRANG_THAI_DB',title: 'TRANG_THAI_DB'},
                                {
                                    field: "ID",
                                    title: "Thao tác",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-sm btn-outline-secondary" href="Edit?Id=#=ID#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>'}
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


