@model NguonVonModel

    <div class="form-group row gs-mg-top-10 gs-mg-r-10">
        <label class="col-form-label col-sm-3 text-sm-right">@Model.TEN</label>
        <div class="col-md-4">
            <nop-editor asp-for="GiaTri" />
        </div>
    </div>