@model TaiSanModel
<div class="gs-form-group ">
    @*<input asp-for="nvYeuCauChiTietModel.HM_LUY_KE" hidden />*@
    <div class="d-none">
        <nop-editor asp-for="nvYeuCauChiTietModel.HM_LUY_KE" />
    </div>
    <h6>Giá trị hao mòn/ khấu hao</h6>


    <div class="form-group row">
        <div class="col-sm-6">
            <div class="form-group row" style="display:none">
                <label class="col-form-label col-sm-2 ">Chọn nguồn vốn</label>
                <div class="col-md-10">
                    <nop-select asp-for="SelectedNguonVonIds" asp-items="Model.NguonVonAvailable" asp-multiple="true" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4 text-required">Nguyên giá</label>
                <div class="col-sm-8">
                    <nop-editor asp-for="nvYeuCauChiTietModel.NGUYEN_GIA" asp-dvt="c" id="nha_TongNguyenGia" asp-disabled="false">
                        <span asp-validation-for="nvYeuCauChiTietModel.NGUYEN_GIA" class="nguyen-gia-ts"></span>
                        <span id="check-gia-tri-than-1bill" class="field-validation-error text-danger d-none" style="color:red"> Giá trị nhập vào quá 1.000.000.000 vnđ, đề nghị kiểm tra lại!<br /> </span>
                        <span id="checkGiaTri1m2-vkt" class="field-validation-error text-danger d-none" style="color:red"> Giá trị nhập vào quá 30.000.000/(m<sup>2</sup>/m<sup>3</sup>/m), đề nghị kiểm tra lại! </span>
                        <span @*id="span_NguyenGiaNha10m"*@ class="field-validation-error text-danger" style="color:red"> </span>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2  font-weight-bold">Trong đó:</label>
            </div>
            <div id="ListNguonVonNha">
                @foreach (var _nv in Model.lstNguonVonModel)
                {
                    @await Html.PartialAsync("_NguonVonNha", _nv);
                }
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Giá trị còn lại</label>
                <div class="col-sm-8">
                    <nop-editor asp-for="nvYeuCauChiTietModel.HM_GIA_TRI_CON_LAI" id="nvYeuCauChiTietModel_HM_GIA_TRI_CON_LAI_nhaPopup" asp-min-number="0" asp-dvt="c" />
                    <span asp-validation-for="nvYeuCauChiTietModel.HM_GIA_TRI_CON_LAI"></span>
                    <span id="checkgtcl" class="field-validation-error text-danger" style="display:none ;color:red"> Giá trị còn lại không được lớn hơn tổng nguyên giá </span>
                </div>
            </div>
        </div>
        @if (Model.CHE_DO_HACH_TOAN_ID != (int)GS.Core.Domain.DanhMuc.enumCHE_DO_HACH_TOAN.HAO_MON)
        {
            <div class="col-sm-6">
                @if (Model.LOAI_HINH_TAI_SAN_ID != (int)enumLOAI_HINH_TAI_SAN.DAT && Model.LOAI_HINH_TAI_SAN_ID != (int)enumLOAI_HINH_TAI_SAN.DAC_THU)
                {
                    <div class="form-group gtts-hm-ty-le-nhaPopup row">
                        <label class="col-form-label col-sm-4">Tỷ lệ hao mòn (%)</label>
                        <div class="col-sm-4">
                            <nop-editor asp-for="HM_TY_LE" id="HM_TY_LE_nhaPopup" asp-max-number="100" asp-min-number="0" asp-disabled="true">
                        </div>
                    </div>
                    <div class="form-group row d-none gtts-so-nam-con-lai-row-nhaPopup">
                        <label class="col-form-label col-sm-4">Số năm SD còn lại</label>
                        <div class="col-sm-4">
                            <nop-editor asp-for="HM_SO_NAM_CON_LAI" id="HM_SO_NAM_CON_LAI_nhaPopup" asp-min-number="0" asp-dvt="năm" />
                        </div>
                    </div>
                }
                <div class="form-group row">
                    @if (Model.CHE_DO_HACH_TOAN_ID == (int)GS.Core.Domain.DanhMuc.enumCHE_DO_HACH_TOAN.HAO_MON_VA_KHAU_HAO)
                    {
                        <label class="custom-control custom-checkbox" style="margin-left: 12px;">
                            @Html.CheckBoxFor(c => c.TRANG_THAI_KH, new { @class = "custom-control-input", id = "checktinhkhauhao" })
                            <span class="custom-control-label font-weight-bold">Tính khấu hao </span>
                        </label>
                    }
                    @if (Model.CHE_DO_HACH_TOAN_ID == (int)enumCHE_DO_HACH_TOAN.KHAU_HAO)
                    {
                        <script>
                            $(document).ready(function () {
                                $("#tinhkhauhao").show();
                                //bind thong tin khau hao hao mon
                                if ($("#LOAI_TAI_SAN_ID").val() > 0) {
                                    getThongTinKHHM();
                                };
                            })
                            //Chuyển nguyên giá từ tổng nguyên giá sang giá trị trích khấu hao
                            //$("input[type='text']").change(function () {
                            //	var TotalNguyenGia = 0;
                            //	if ($("#TongNguyenGia").val() > 0) {
                            //		TotalNguyenGia = parseFloat($("#TongNguyenGia").val());
                            //		$("#nvYeuCauChiTietModel_KH_GIA_TINH_KHAU_HAO").data("kendoNumericTextBox").value(TotalNguyenGia);
                            //	}

                            //});
                        </script>
                    }
                </div>
                <div id="tinhkhauhao" style="display: none">
                    <div class="form-group row d-none">
                        <label class="col-form-label col-sm-2">Phương pháp trích KH</label>
                        <div class="col-sm-4">
                            <nop-select asp-for="nvYeuCauChiTietModel.PHUONG_PHAP_TINH_KHAU_HAO_ID" asp-items="Model.nvYeuCauChiTietModel.PhuongPhapTinhKhauHaoAvailable" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-required">Tỷ lệ KH theo QĐ (%)</label>
                        <div class="col-sm-4">
                            <nop-editor asp-for="LoaiTaiSanModel.KH_TY_LE" id="KH_TiLe_nhaPopup"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-required">Tỷ lệ % NG tính KH</label>
                        <div class="col-sm-4">

                            <nop-editor asp-for="nvYeuCauChiTietModel.KH_TY_LE_NGUYEN_GIA_KHAU_HAO" id="nvYeuCauChiTietModel_KH_TY_LE_NGUYEN_GIA_KHAU_HAO_nhaPopup" asp-max-number="100" asp-min-number="0" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-required">Ngày bắt đầu tính KH</label>
                        <div class="col-sm-8">

                            <nop-editor asp-for="nvYeuCauChiTietModel.KH_NGAY_BAT_DAU" />
                        </div>
                    </div>



                </div>
                <script>
                    $(function () {
                        if ($("#checktinhkhauhao").is(":checked")) { $("#tinhkhauhao").show(); }
                        $("#checktinhkhauhao").click(function () {
                            if ($(this).is(":checked")) {
                                $("#tinhkhauhao").show();
                            } else {
                                $("#tinhkhauhao").hide();
                            }
                        });
                    });
                </script>
            </div>
        }
        else
        {
            <div class="col-sm-6">
                @if (Model.LOAI_HINH_TAI_SAN_ID != (int)enumLOAI_HINH_TAI_SAN.DAT && Model.LOAI_HINH_TAI_SAN_ID != (int)enumLOAI_HINH_TAI_SAN.DAC_THU)
                {
                    <div class="form-group gtts-hm-ty-le-nhaPopup row">
                        <label class="col-form-label col-sm-4">Tỷ lệ hao mòn (%)</label>
                        <div class="col-sm-4">
                            <nop-editor asp-for="HM_TY_LE" id="HM_TY_LE_nhaPopup" asp-max-number="100" asp-min-number="0" asp-disabled="true">
                        </div>
                    </div>
                    <div class="form-group row d-none gtts-so-nam-con-lai-row-nhaPopup">
                        <label class="col-form-label col-sm-4">Số năm SD còn lại</label>
                        <div class="col-sm-4">
                            <nop-editor asp-for="HM_SO_NAM_CON_LAI" id="HM_SO_NAM_CON_LAI_nhaPopup" asp-min-number="0" asp-dvt="năm" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    @*Hiển thị chế độ tính khấu hao*@

</div>