@model TaiSanSearchModel
@{
    var guid = Guid.NewGuid();
}
<input asp-for="DE_NGHI_XU_LY_ID" id="DE_NGHI_XU_LY_ID_@guid" type="hidden" />
<div class="ui-bordered px-4 pt-4 mb-4">
    <div class="form-group row">
        <label class="col-form-label col-md-2 text-sm-left">Từ khóa</label>
        <div class="col-md-10">
            <nop-editor asp-for="KeySearch" id="KeySearch_@guid" placeholder="Nhập tên hoặc mã...." maxlength="255" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-md-2 ">Loại tài sản:</label>
        <div class="col-md-10">
            <nop-select asp-for="LoaiHinhTaiSanSelected" id="LoaiHinhTaiSanSelected_@guid" asp-multiple="true" asp-items="Model.LoaiHinhTaiSanAvailable" />
        </div>
    </div>
    <div class="form-group row">
        <div class="row col-sm-2" style="margin:0px; padding:0px">
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearchTaiSanForKiemKe_@guid">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10 d-flex align-items-center">
        <div class="tle1">
            <i class=" fas fa-list-ul mr-2"></i><span>Danh sách tài sản</span>
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="taisan-grid_@guid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function SearchData() {
			let StringLoaiTaiSan = null;
			if ($("#LoaiHinhTaiSanSelected_@guid").val()) {
				StringLoaiTaiSan = $("#LoaiHinhTaiSanSelected_@guid").val().join(',');
				if (StringLoaiTaiSan == "0") {
					StringLoaiTaiSan = "";
				}
			}
            var _data = {
                KeySearch: $('#KeySearch_@guid').val(),
                strLoaiHinhTSIds: StringLoaiTaiSan,
                TRANG_THAI_ID:@((int)enumTRANG_THAI_TAI_SAN.DA_DUYET),
                DE_NGHI_XU_LY_ID:$('#DE_NGHI_XU_LY_ID_@guid').val()

            };
            addAntiForgeryToken(_data);
            //console.log(_data);
            return _data;
        }
		$("#btnSearchTaiSanForKiemKe_@guid").click(function () {
			var grid = $('#taisan-grid_@guid').data('kendoGrid');
			grid.dataSource.page(1); //new search. Set page size to 1
			return false;
        });
        let record = 1;
        $("#taisan-grid_@guid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "TaiSan"))",
                        type: "POST",
                        dataType: "json",
                        data: SearchData
                    }
                },
                change: function (e) {
                    record = 1;
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(Model.PageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(Model.AvailablePageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            editable: {
                confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    title: 'STT',
                    width: 50,
                    template: function (e) {
                        let pageSize = $("#taisan-grid_@guid").data("kendoGrid").dataSource.pageSize();
                        pageSize = typeof pageSize == 'undefined' ? 0 : pageSize;
                        let page = $("#taisan-grid_@guid").data("kendoGrid").dataSource.page();
                        page = typeof page == 'undefined' ? 0 : page;
                        let i = record++;
                        return (parseInt(i) + (parseInt(page) - 1) * parseInt(pageSize));
                    }
                },
                {
                    field: 'MA',
                    title: 'Mã tài sản'
                },
                {
                    field: 'TEN',
                    title: 'Tên tài sản'
                },
                {
                    field: 'TenLoaiTaiSan',
                    title: 'Loại tài sản'
                },
                {
                    field: 'NGAY_SU_DUNG',
                    title: 'Ngày sử dụng',
                    type: "Date",
                    format: "{0:dd/MM/yyyy}"
                },
                {
                    field: 'strNguyenGiaVN',
                    title: 'Nguyên giá'
                },
                {
                    field: 'strHM_GIA_TRI_CON_LAI',
                    title: 'Giá trị còn lại'
                },
                {
                    field: "ID",
                    title: "Chọn tài sản",
                    width: 150,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-sm btn-outline-secondary" onclick="chonTaiSan(#=ID#,\'#:MA#\',\'#:TEN#\')">Chọn</a>'
                }
            ]
        });
    });
</script>