@model List<CauHinhCanhBaoTaiSan>
@{
	Layout = null;
}


@if (Model != null && Model.Count > 0)
{
	foreach (var item in Model)
	{
		if (item.CountAlert == 0)
		{
			continue;
		}
		<div class="col-md">
			<div class="card mb-3">
				<!-- Add `.with-elements` to the parent `.card-header` element -->
                <div class="card-header with-elements">
                    <span class="card-header-title mr-2">@T(item.DisplayName)</span>
                    @if (!item.IsHideCount)
                    {
                        <div class="card-header-elements">
                            <span class="badge badge-danger badge-pill">@item.CountAlert</span>
                        </div>
                    }

                    <div class="card-header-elements ml-md-auto">
                        <a class="btn btn-danger" href="@item.ActionUrl">@T(item.DisplayName + ".btn")</a>
                    </div>
                </div>
			</div>			
		</div>
	}
}
