@model DoiTacModel
@{
    //page title
    ViewBag.Title = "Nhà cung cấp";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DanhMucDoiTac");
}
<form asp-controller="DoiTac" asp-action="Create" method="post">
    <div class="card mb-4">
        <h6 class="card-header">
            Thêm mới  nhà cung cấp
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Quay lại danh sách</a>
            </small>
            @*<button type="submit" name="save-continue" class="btn btn-secondary" style="float:right;margin-right:5px;">
            <i class="far fa-save" style="margin-right:5px;"></i>
            Lưu và tiếp tục sửa
        </button>*@
            <button type="submit" name="save" class="btn btn-outline-primary" style="float:right; margin-right: 5px;">
                <i class="fas fa-save"></i>
                Lưu
            </button>
        </h6>
        <div class="card-body">

            @await Html.PartialAsync("_CreateOrUpdate", Model)

        </div>
    </div>
</form>

