@model HinhThucMuaSamModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
    <label class="col-form-label col-sm-3 text-sm-right text-required">Mã:</label>
    <div class="col-sm-9">
        <nop-editor asp-for="MA" />
        <span asp-validation-for="MA"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-3 text-sm-right text-required">Tên:</label>
    <div class="col-sm-9">
        <nop-editor asp-for="TEN" />
        <span asp-validation-for="TEN"></span>
    </div>
</div>

