@model TaiSanTdXuLyModel

<input asp-for="ID" type="hidden" />
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Tài sản:</label>
<div class="col-sm-10">
<nop-editor asp-for="TAI_SAN_ID" />
<span asp-validation-for="TAI_SAN_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Số lượng:</label>
<div class="col-sm-10">
<nop-editor asp-for="SO_LUONG" />
<span asp-validation-for="SO_LUONG"></span>
</div>
</div>
@*<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Diện tích:</label>
<div class="col-sm-10">
<nop-editor asp-for="DIEN_TICH" />
<span asp-validation-for="DIEN_TICH"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">nguyên giá:</label>
<div class="col-sm-10">
<nop-editor asp-for="NGUYEN_GIA" />
<span asp-validation-for="NGUYEN_GIA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Giá trị:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI" />
<span asp-validation-for="GIA_TRI"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Giá trị ghi tăng:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_GHI_TANG" />
<span asp-validation-for="GIA_TRI_GHI_TANG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Giá trị NSNN:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_NSNN" />
<span asp-validation-for="GIA_TRI_NSNN"></span>
</div>
</div>
<div class="form-group row">
<label class="col-form-label col-sm-2 text-sm-right">Giá trị TKTG:</label>
<div class="col-sm-10">
<nop-editor asp-for="GIA_TRI_TKTG" />
<span asp-validation-for="GIA_TRI_TKTG"></span>
</div>
</div>*@

