@model TaiSanTdModel
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-left">Tên tài sản</label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN" asp-disabled="true" />
    </div>
    <label class="col-form-label col-sm-2 text-sm-left">Loại tài sản</label>
    <div class="col-sm-4">
        <nop-editor asp-for="TEN_LOAI_TAI_SAN" asp-disabled="true" />
    </div>
</div>