@model TaiSanTdXuLySearchModel
<nop-antiforgery-token />
<div class="ui-bordered px-4 pt-4 mb-4" style="padding-bottom: 24px;display:none">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right">Từ khóa:</label>
        <div class="col-sm-8">
            <nop-editor asp-for="KeySearch" />
            <input asp-for="XuLyGuid" hidden/>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="items-grid"></div>
                    <script>
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch: $('#@Html.IdFor(model => model.KeySearch)').val(),
                                    XuLyGuid :$('#@Html.IdFor(model => model.XuLyGuid)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#items-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#items-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "TaiSanTdXuLy"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: 'TenTaiSan', title: 'Tài sản',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: 'TenHinhThuc', title: 'Hình thức xử lý',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: 'TenPhuongAn', title: 'Phương án xử lý',
                                        headerAttributes: { style: "text-align:center" }
                                    },
                                    {
                                        field: 'SO_LUONG', title: 'Số lượng',
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:right" }
                                    },


                                    {
                                        field: "GUID",
                                        title: "Thao tác",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: kendo.template($("#btn_template_edit").html())
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="btn_template_edit">
    <div class="btn-group">
        <a class="btn btn-sm btn-outline-primary" style="float:right" href="javascript:void(0)" data-toggle="modal" data-target="\\#globalModalIframe" data-width="900" data-title="Sửa xử lý tài sản toàn dân" data-src="/TaiSanTdXuLy/_ViewXuLyTaiSan?Guid=#:GUID#">Sửa</a>&nbsp;
        <a class="btn btn-sm btn-outline-danger" href="javascript:void(0)" onclick=XoaTaiSan('#:GUID#')>Xóa</a>
    </div>
</script>


