@model DinhMucChucDanhModel
@*<input asp-for="pageIndex" type="hidden" />*@

<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right text-required">Mã</label>
    <div class="col-sm-4">
        <nop-editor asp-for="MA" id="MA" />
        <span asp-validation-for="MA"></span>
    </div>
    <label class="col-form-label col-sm-2 text-sm-right text-required">Số quyết định</label>
    <div class="col-sm-4">
        <nop-editor asp-for="SO_QUYET_DINH" id="SO_QUYET_DINH" />
        <span asp-validation-for="SO_QUYET_DINH"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Thông tư/Nghị định</label>
    <div class="col-sm-4">
        <nop-editor asp-for="THONG_TU_NGHI_DINH" id="THONG_TU_NGHI_DINH" />
    </div>
    <label class="col-form-label col-sm-2 text-sm-right">Ngày quyết định</label>
    <div class="col-sm-4">
        <nop-editor asp-for="NGAY_QUYET_DINH" id="NGAY_QUYET_DINH" />
        <span asp-validation-for="NGAY_QUYET_DINH"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right">Thuộc loại</label>
    <div class="col-sm-10">
        <div class="custom-controls-stacked row" style="margin-top: 7px;margin-left: 0px;">
            <label class="custom-control custom-radio col-sm-5" style="margin-left:7px;">
                @Html.RadioButtonFor(c => c.IS_HIEU_LUC, false, new { @class = "custom-control-input" })
                <span class="custom-control-label"><small>Hết hiệu lực</small></span>
            </label>
            <label class="custom-control custom-radio col-sm-5">
                @Html.RadioButtonFor(c => c.IS_HIEU_LUC, true, new { @class = "custom-control-input" })
                <span class="custom-control-label"><small>Còn hiệu lực</small></span>
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2 text-sm-right text-required">Từ ngày </label>
    <div class="col-sm-4">
        <nop-editor asp-for="TU_NGAY" id="TU_NGAY" />
        <span asp-validation-for="TU_NGAY" class="text-danger d-none" id="TuNgayValidate">Khoảng thời gian quyết định bị trùng với khoảng thời gian quyết định khác.</span>
    </div>
    <label class="col-form-label col-sm-2 text-sm-right text-required">Đến ngày</label>
    <div class="col-sm-4">
        <nop-editor asp-for="DEN_NGAY" id="DEN_NGAY" />
        <span asp-validation-for="DEN_NGAY" class="text-danger d-none" id="DenNgayValidate">Ngày kết thúc phải lớn hơn ngày bắt đầu</span>
        <span asp-validation-for="DEN_NGAY" class="text-danger d-none" id="HieuLucDNValidate">Cần nhập ngày hết hiệu lực</span>
    </div>
</div>
<div style="text-align:right">
    <button type="button" class="btn btn-xs btn-outline-primary" id="btnAddChiTietDCMD">
        <i class="ion ion-md-add"></i>
        Thêm chi tiết định mức chức danh
    </button>
</div>

<div id="view-DMCD" style="margin-top:10px;"></div>


@if (Model != null)
{
    if (Model.ChiTietDinhMuc.Count > 0)
    {
        foreach (var chitiet in Model.ChiTietDinhMuc)
        {
            <script>
                var _data = {
                MaDMCD: '@(Model.MA)',
                MaChiTiet: '@(chitiet.NHOM_TAI_SAN_ID.ToString() + "-" + chitiet.CHUC_DANH_ID.ToString())'
            };
            $.ajax({
                url: "/CauHinh/_AddNewChiTietDMCD",
                type: "POST",
                data: _data,
                success: function (data) {
                    $("#view-DMCD").append(data);
                },
                error: function (data) {

                }
            })
            </script>
        }
    }
}
else
{
    <script>

        function checkNgayCollision(tuNgay, denNgay) {
            if (tuNgay != "" && tuNgay != null && denNgay != "" && denNgay != null) {
                var _data = {
                    tungay: tuNgay,
                    denngay: denNgay
                }
                $.ajax({
                    type: "POST",
                    data: _data,
                    url: "/CauHinh/CheckCollisionDateRange",
                    success: function (data) {
                        var tuNgayValidation = document.getElementById("TuNgayValidate");
                        if (data.Message == "collided") {
                            if (tuNgayValidation.classList.contains("d-none")) {
                                tuNgayValidation.classList.toggle("d-none");
                            }
                        } else {
                            if (!tuNgayValidation.classList.contains("d-none")) {
                                tuNgayValidation.classList.toggle("d-none");
                            }
                        }
                    }
                })
            }   

        }

        $(document).ready(function () {
            var dt = {
                MaDMCD: "",
                MaChiTiet: ""
            };
            $.ajax({
                type: "POST",
                data: dt,
                url: "/CauHinh/_AddNewChiTietDMCD",
                success: function (data) {
                    $("#view-DMCD").html(data);
                }
            })
            $("#TU_NGAY").on("change", function () {
                var tuNgay = document.getElementById("TU_NGAY");
                var denNgay = document.getElementById("DEN_NGAY");
                var denNgayValidation = document.getElementById("DenNgayValidate");
                if (denNgay.value < tuNgay.value) {
                    if (!denNgayValidation.classList.contains("d-none")) {
                        denNgayValidation.classList.toggle("d-none");
                    }
                } else {
                    if (denNgayValidation.classList.contains("d-none")) {
                        denNgayValidation.classList.toggle("d-none");
                    }
                }
                checkNgayCollision(tuNgay.value, denNgay.value);
            })
            $("#DEN_NGAY").on("change", function () {
                var tuNgay = document.getElementById("TU_NGAY");
                var denNgay = document.getElementById("DEN_NGAY");
                var denNgayValidation = document.getElementById("DenNgayValidate");
                if (denNgay.value > tuNgay.value) {
                    if (!denNgayValidation.classList.contains("d-none")) {
                        denNgayValidation.classList.toggle("d-none");
                    }
                } else {
                    if (denNgayValidation.classList.contains("d-none")) {
                        denNgayValidation.classList.toggle("d-none");
                    }
                }
                //checkNgayCollision(tuNgay.value, denNgay.value);
            })
        })
    </script>
}


<script>

    $("#btnAddChiTietDCMD").click(function () {
        var dt = {
            MaDMCD: "",
            MaChiTiet: ""
        };
        $.ajax({
            type: "POST",
            data: dt,
            url: "/CauHinh/_AddNewChiTietDMCD",
            success: function (data) {
                $("#view-DMCD").append(data);
            }
        })
    })
    function checkhieuluc(ishieuluc) {
            var denNgay = document.getElementById("DEN_NGAY");
        var hieulucdenNgayValidation = document.getElementById("HieuLucDNValidate");
        if (ishieuluc == true) {
            if (denNgay.value!="") {
                if (!hieulucdenNgayValidation.classList.contains("d-none")) {
                    hieulucdenNgayValidation.classList.toggle("d-none");
                }
            } else {
                if (hieulucdenNgayValidation.classList.contains("d-none")) {
                    hieulucdenNgayValidation.classList.toggle("d-none");
                }
            }
        }
    }
    $(document).ready(function () {
        if ($('input[value="False"][name="IS_HIEU_LUC"]').is(":checked")) {
            checkhieuluc(true);
        }
        if ($('input[value="True"][name="IS_HIEU_LUC"]').is(":checked")) {
            checkhieuluc(false);
        }


        $('input[value="False"][name="IS_HIEU_LUC"]').on("click", function () {
            checkhieuluc(true);
        });
        $('input[value="True"][name="IS_HIEU_LUC"]').on("click", function () {
            checkhieuluc(false);                      
        });
    });
</script>