@model VaiTroSearchModel

@{
	//page title
	ViewBag.Title = "Nhóm người dùng";
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("NhomNguoiDung");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
	<h5 class="pull-left">
		Danh sách nhóm người dùng
	</h5>
	<div class="pull-right" style="margin-bottom:5px;">
		<a asp-action="CreateNhomNguoiDung" class="btn btn-success">
			<i class="fa fa-plus-square"></i>
			Thêm mới nhóm người dùng
		</a>
	</div>
</div>
<div class="ui-bordered px-4 pt-4 mb-4">

	<div class="row">
		<div class="col-sm-10">
			<div class="form-group row">
				<label class="col-form-label col-sm-2 text-sm-right">Từ khoá:</label>
				<div class="col-sm-10">
					<nop-editor asp-for="KeySearch" placeholder="Tên hoặc mã...." />
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-sm btn-primary" id="btnSearch">Tìm kiếm</button>
		</div>
	</div>

</div>

<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="VaiTro-grid"></div>
					<script>
                        $(document).ready(function () {
                            function SearchData() {
                                var _data = {
                                    KeySearch:$('#@Html.IdFor(model => model.KeySearch)').val()
                                };
                                addAntiForgeryToken(_data);
                                return _data;
                            }
                            $("#btnSearch").click(function () {
                                var grid = $('#VaiTro-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });
                             $("#@Html.IdFor(model => model.KeySearch)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#btnSearch").click();
                                    return false;
                                }
                            });
                            $("#VaiTro-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "VaiTro"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: SearchData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Bạn có chắc chắn xóa không ?")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "MA",
                                        title: "Mã"
                                    }, {
                                        field: "TEN",
                                        title: "Tên"
                                    }, {
                                        field: "NGAY_TAO",
                                        title: "Ngày tạo",
                                        template: "#= kendo.toString(kendo.parseDate(NGAY_TAO, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                                }, {
                                    field: "ID",
                                    title: "Thao tác",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
										template: '<a class="btn btn-sm btn-outline-secondary" href="EditNhomNguoiDung?Id=#=ID#"><i class="fas fa-pencil-alt d-block"></i>Sửa</a>&nbsp;<a class="btn btn-sm btn-outline-secondary" href="EditNhomNguoiDung?Id=#=ID#&isPhanQuyen=true"><i class="fas fa-pencil-alt d-block"></i>Phân quyền</a>'}
                                ]
                            });
                        });
					</script>
				</div>
			</div>
		</div>
	</div>
</div>